<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>


<div class="appbar" id="appbar"><!-- 지도: 항상 노출 _fixed -->
	<button type="button" class="btnAppbarHome">
		<span class="hidden">홈</span>
	</button>
	<button type="button" class="btnAppbarClass">
		<span class="hidden">대학/학과/전형 정보</span>
	</button>
	<button type="button" class="btnAppbarFav">
		<span class="hidden">관심</span>
	</button>
	<button type="button" class="btnAppbarMy">
		<span class="hidden">마이페이지</span>
	</button>
	<button type="button" class="btnAppbarMenu" onclick="fnMenuPopup();">
		<span class="hidden">전체메뉴 열기</span>
	</button>
</div>


</body>
</html>