<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>


<footer class="footer" id="footer">
	<div class="footerInner">
		<div class="footCont">
			<div class="fcTop">
				<div class="fcTopLt">
					<ul>
						<li class="highLt">
							<button type="button" class="btnFtPrivacy">개인정보처리방침</button>
						</li>
						<li>
							<button type="button" class="btnFtContract">이용약관</button>
						</li>
						<li>
							<button type="button" class="btnFtRefuse">이메일주소 무단수집 거부</button>
						</li>
						<li>
							<button type="button" class="btnFtLicense">저작권정책</button>
						</li>
						<li>
							<button type="button" class="btnFtVOC">PC버전으로 보기</button>
						</li>
						<li>
							<button type="button" class="btnFtVOC">로그인</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="fcBot">
				<div class="fcBotLt">
					<div class="logoThumbDesc">
						<img src="../../static/img/common/footer_logo01.png" alt="한국대학교육협회 Korean Council for University Education 로고">
					</div>
				</div>
				<div class="fcBotRt">
					<div class="logoThumbDesc">
						<img src="../../static/img/common/footer_logo02.png"alt="한국전문대학교육협의회 Korea Council for University College Education 로고">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


</body>
</html>