<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>

	<div class="mainHeader" style="border: 1px solid red !important;">
		<div class="topArea">
			<div class="logoArea">
				<button type="button" class="logoBtn">
					<img src="../../static/img/common/logo.svg" alt="logo">
				</button>
			</div>
			<div class="optionArea">
				<div class="alarmArea">
					<button type="button" class="alarmBtn">
						<span class="hidden">알림</span>
					</button>
					<span class="alarmCnt">99</span>
				</div>
				<div class="menuArea">
					<button type="button" class="menuBtn" onclick="fnMenuPopup();">
						<span class="hidden">메뉴열기</span>
					</button>
				</div>
			</div>
		</div>
		<div class="botArea">
			<input type="text" class="mainSearch" title="메인통합검색" placeholder="검색어를 입력해주세요." onclick="showSearch()">
			<button type="button" class="botAreaAiBtn" title="대화형 검색"></button>
			<p class="hidden" id="mainBeta">대화형 검색 Beta 버전</p>
		</div>
	</div>

</body>
</html>