<!--<link rel="shortcut icon" th:href="${@sessionInfo == null}?${@optimizer.optimize(ci.CCI_FAVICON)}:${@sessionInfo.getFavicon()}">-->
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<!-- air-datepicker -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/air-datepicker/air-datepicker.css}"/>
<!-- tom-select -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/tom-select/tom-select.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/summernote.min.css}">
<!-- tailwind out.css -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/out.css}"/>

