<!--https://www.auisoft.net/demo/auigrid/index.html-->
<script src="/assets/AUIGrid/AUIGrid.js"></script>
<script src="/assets/AUIGrid/AUIGridLicense.js"></script>
<link href="/assets/AUIGrid/AUIGrid_style.css" rel="stylesheet"/>
<script src="/assets/js/sheetjs/FileSaver.min.js"></script>
<script>
function setFitColumnSizeToGrid(id) {
    // 현재 출력된 칼럼들의 값을 모두 조사하여 최적의 칼럼 사이즈를 찾아 배열로 반환.
    // 만약 칼럼 사이즈들의 총합이 그리드 크기보다 작다면, 나머지 값들을 나눠 가져 그리드 크기에 맞추기
    var colSizeList = AUIGrid.getFitColumnSizeList(id, true);

    // 구해진 칼럼 사이즈를 적용 시킴.
    AUIGrid.setColumnSizeList(id, colSizeList);
}

function resizeGridAll() {
    var grids = AUIGrid.getCreatedGridAll();
    for (var grid of grids) {
        AUIGrid.resize(grid);
    }
}

function resizeGrid(grid) {
    AUIGrid.resize(grid);
}

/** 그리드 데이터 세팅 */
async function loadGridData(grid, ajaxUrl, param) {
    AUIGrid.showAjaxLoader(grid);
    const isExcluded = window.excludeUrl.includes(ajaxUrl);
        if(!isExcluded){
          LoadingManager.inc();
    }
    $.ajax({
        type: 'post',
        url: ajaxUrl,
        data: param,
        async: false,
        success: function(data) {
            if(!data.data) {
                return;
            }
            var gridData = data.data;
            AUIGrid.setGridData(grid, gridData);
        },
        complete: function () {
            AUIGrid.removeAjaxLoader(grid);
            resizeGrid(grid);
             if(!isExcluded){
              LoadingManager.dec();
            }
        }
    });
}

document.addEventListener('DOMContentLoaded', function() {
    $('.topnav-hamburger').on('click',function() {
        resizeGridAll();
    });
});

// 리사이즈 이벤트
var gridResizeTimer = null;
window.onresize = function() {
    if (typeof AUIGrid == 'object') {
        if (gridResizeTimer !== null) {
            clearTimeout(gridResizeTimer);
        }

        gridResizeTimer = setTimeout(function () {
            // 그리드 리사이징
            resizeGridAll();
        }, 0);
    }
};


//그리드를 생성할 때 공통적인 사항 작성
if (window.AUIGrid) {
    AUIGrid.defaultProps = {
      rowNumHeaderText: '번호',
      height: 500,
      headerHeight: 36,
      rowHeight: 36,
      hoverMode: "singleRow",
      selectionMode: "singleRow",
      noDataMessage: '조회된 데이터가 없습니다.',
      usePaging: false,
      pagingPanelHeight: 38,
      showPageRowSelect: true,
      pagingInfoLabelFunction: function (currentPage, totalPageCount, currentTopNumber, currentBottomNumber, dataLen) {
        return `${currentPage} / ${totalPageCount} ( ${currentTopNumber}~${currentBottomNumber} )`;
      },
    };
  }

var cmi = [
    {
        label: "엑셀다운로드",
        callback: contextItemHandler
    }
];

function contextItemHandler(event) {
    var index = event.contextIndex;
    if (index == 0) {
        gridExcel(event.pid);
    }
};
</script>
