<!-- jquery -->
<script th:src="@{/assets/js/main/jquery.min.js}"></script>
<!-- tom-select -->
<script th:src="@{/assets/js/tom-select/tom-select.complete.min.js}"></script>
<!-- popper -->
<script th:src="@{/assets/js/floating-ui/popper.js}"></script>
<!-- air-datepicker -->
<script th:src="@{/assets/js/air-datepicker/air-datepicker.js}"></script>

<!-- layout js -->
<script th:src="@{/assets/js/layout.js}"></script>
<!-- vanilla common early -->
<script th:src="@{/assets/js/vanilla_common_early.js}"></script>
<!-- vanilla common js-->
<script th:src="@{/assets/js/vanilla_common.js}"></script>
<script th:src="@{/assets/js/vanilla_grid.js}"></script>
<script th:src="@{/assets/js/common.js}" defer="defer"></script>
<!-- vanilla component js-->
<script th:src="@{/assets/js/vanilla_component.js}" defer="defer"></script>
<!-- bootstrap -->
<script th:src="@{/assets/js/main/bootstrap.bundle.min.js}"></script>
<!-- summernote -->
<script th:src="@{/assets/js/plugins/editors/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/plugins/editors/summernote/lang/summernote-ko-KR.js}"></script>
<script th:src="@{/assets/js/demo_pages/editor_summernote.js}"></script>
<!-- 데이터테이블 -->
<script th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/select.min.js}"></script>
<script th:src="@{/assets/js/plugins/tables/datatables/extensions/buttons.min.js}"></script>
<!-- 다음 주소 api -->
<script th:src="@{/assets/js/daum_address.js}"></script>
<!-- 그래프 -->
<script th:src="@{/assets/js/plugins/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/js/html2pdf.bundle.min.js}"></script>
