<!-- tom-select -->
<script th:src="@{/assets/js/tom-select/tom-select.complete.min.js}"></script>
<!-- popper -->
<script th:src="@{/assets/js/floating-ui/popper.js}"></script>
<!-- air-datepicker -->
<script th:src="@{/assets/js/air-datepicker/air-datepicker.js}"></script>
<!-- layout js -->
<script th:src="@{/assets/js/layout.js}"></script>
<!-- vanilla common early -->
<script th:src="@{/assets/js/vanilla_common_early.js}"></script>
<!-- vanilla common js-->
<script th:src="@{/assets/js/vanilla_common.js}" defer="defer"></script>
<!-- vanilla component js-->
<script th:src="@{/assets/js/vanilla_component.js}" defer="defer"></script>
