<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="fltMenu">
    <ul>
      <li class="regGuide">
        <a href="#0" class="qm1">
          <span>성적입력 가이드</span>
          <img src="../../static/img/common/ico_guide_new_03.png" alt="성적입력가이드 아이콘">
        </a>
      </li>
      <li class="regGuide">
        <a href="#0" class="qm1">
          <span>초보자 가이드</span>
          <img src="../../static/img/common/ico_guide_new.png" alt="초보자가이드 아이콘">
        </a>
      </li>
      <li class="regGuide">
        <a href="#0" target="_blank" class="qm1">
          <span>표준공통 원서접수 가이드</span>
          <img src="../../static/img/common/ico_guide_new_02.png" alt="표준공통원서접수가이드 아이콘"> <!-- JH Code -->
        </a>
      </li>
      <li class="goTop">
        <a href="#0" class="qm2">
          <img src="../../static/img/common/ico_arr_jobList.png" alt="상단으로바로가기 아이콘"><br>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>