<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="footer">
    <div class="footerInner">
      <div class="footCont">
        <div class="fcTop">
          <div class="fcTopLt">
            <ul>
              <li class="highLt"><a href="#0" class="body3">개인정보처리방침</a></li>
              <li><a href="#0" class="body3">이용약관</a></li>
              <li><a href="#0" class="body3">이메일주소 무단수집 거부</a></li>
              <li><a href="#0" class="body3">저작권정책</a></li>
              <li><a href="#0" class="body3">제안 및 건의하기</a></li>
            </ul>
          </div>
          <div class="fcTopRt">
            <div class="tbSelectCov">
              <div class="comSelectTpStk tbType">
                <button type="button" class="selCustBtn">관련기관</button>
              </div>
              <div class="spCase_optArea">
                <ul>
                  <li><a href="http://www.niied.go.kr" target="_blank">국립국제교육원</a></li>
                  <li><a href="http://www.moe.go.kr" target="_blank">교육부</a></li>
                  <li><a href="http://www.kedi.re.kr" target="_blank">한국교육개발원</a></li>
                  <li><a href="http://www.kice.re.kr" target="_blank">한국교육과정평가원</a></li>
                  <li><a href="http://www.ebs.co.kr" target="_blank">한국교육방송공사</a></li>
                  <li><a href="http://www.keris.or.kr" target="_blank">한국교육학술정보원</a></li>
                  <li><a href="http://www.kcue.or.kr" target="_blank">한국대학교육협의회</a></li>
                  <li><a href="http://www.kosaf.go.kr" target="_blank">한국장학재단</a></li>
                  <li><a href="http://www.kcce.or.kr" target="_blank">한국전문대학교육협의회</a></li>
                  <li><a href="http://www.krivet.re.kr" target="_blank">한국직업능력개발원</a></li>
                </ul>
              </div>
            </div>

            <div class="tbSelectCov">
              <div class="comSelectTpStk tbType">
                <button type="button" class="selCustBtn">Family Site</button>
              </div>
              <div class="spCase_optArea">
                <ul>
                  <li>
                    <a href="http://www.academyinfo.go.kr" target="_blank">대학알리미</a>
                  </li>
                  <li>
                    <a href="http://aims.kcue.or.kr" target="_blank">대학기관평가인증</a>
                  </li>
                  <li>
                    <a href="http://www.campusasiaprogram.kr" target="_blank">캠퍼스아시아</a>
                  </li>
                  <li>
                    <a href="http://hrd.kcue.or.kr" target="_blank">고등교육연수원</a>
                  </li>
                  <li>
                    <a href="http://konige.kr" target="_blank">한국교양기초교육원</a>
                  </li>
                  <li>
                    <a href="http://magazine.kcue.or.kr" target="_blank">대학교육지</a>
                  </li>
                  <li>
                    <a href="https://info.kusf.or.kr" target="_blank">체육특기자대입포털</a>
                  </li>
                  <li>
                    <a href="https://www.togetherschool.go.kr" target="_blank">함께학교</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="fcBot">
          <div class="fcBotLt">
            <div class="logoThumbDesc">
              <img src="../../static/img/main/footer_logo01.png" alt="한국대학교육협회 Korean Council for University Education 로고" />
              <div>
                <p class="body3">
                  (우)08504 서울특별시 금천구 서부샛길 606<br /> (가산동, 대성디폴리스 A동, 22~23층) 전화문의 : 02-6919-3960<br />
                <p class="body3 mgt5">Copyright2023. KCUE all rights reserved</p>
              </div>
            </div>
          </div>
          <div class="fcBotRt">
            <div class="logoThumbDesc">
              <img src="../../static/img/main/footer_logo02.png"
                alt="한국전문대학교육협의회 Korea Council for University College Education 로고" />
              <div>
                <p class="body3">
                  (우)04505 서울특별시 중구 서소문로 38 (중림동 센트럴타워 7층)<br /> TEL : 02-3145-1200 | FAX : 02-364-1584<br />
                </p>
                <p class="body3 mgt5">Copyright2023. KCUE all rights reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>