<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="header">
    <div class="headCont01">
      <div class="hLogo"><a href="#0"><img src="../../static/img/adiga_logo.png" alt="로고 이미지"></a></div>
      <div class="hSearch">
        <div class="hSearchBox">
          <input type="text" class="XSSSafeInput" placeholder="검색어를 입력해주세요" title="헤더검색영역" autocomplete="off">
          <button type="button" class="convAiBtn" title="대화형 검색"></button>
          <p class="hidden" id="mainBeta">&nbsp;</p>
          <a href="#0"><img src="../../static/img/head_src_icon.png" alt="검색 아이콘"></a>
        </div>
      </div>
      <div class="hLogFn">
        <ul>
          <li class="timeClass" style="width: 38px; font-size:12px !important;"></li>
          <li><a href="#0" class="body3">로그인</a></li>
          <li class="fLine"><span></span></li>
          <li><a href="#0" class="body3">회원가입</a></li>
          <li class="fLine"><span></span></li>
          <li><a href="#0" class="body3">사이트맵</a></li>
        </ul>
      </div>
    </div>

    <div class="headCont02">
      <div class="hMenu">
        <a href="#0" class="mainMenuBtn"><span class="hidden">전체메뉴보기</span></a>
        <a href="#0" class="goMap" title="지도검색"><span class="hidden">지도검색</span></a>
      </div>
      <div class="hQuick">
        <ul>
          <li>
            <a href="#0">
              <span><img alt="메뉴명1" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명1</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명2" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명2</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명3" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명3</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명4" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명4</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명5" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명5</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명6" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명6</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명7" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명7</p>
            </a>
          </li>
          <li>
            <a href="#0">
              <span><img alt="메뉴명8" src="../../static/img/common/head_quick_more.png"></span>
              <p class="body1 reg">메뉴명8</p>
            </a>
          </li>
          <li>
            <a href="#0" class="mainPopBtn">
              <span><img src="../../static/img/common/head_quick_more.png" alt="퀵메뉴더보기아이콘"></span>
              <p class="body1 reg">메뉴편집</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="hAlert">
        <ul>
          <li><a href="#0" class="chkAlarmBtn"><span class="alrmCnt">13</span></a></li>
          <li><a href="#0" title="마이페이지"><span class="hidden">마이페이지</span></a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>