<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 컨텐츠 상단 영역
    * #cptScrHead : 스크롤시 상단 고정 영역
    * lytSubHead : 브래드크럼 영역 -->

  <div id="menuSubHeader">
    <div id="cptScrHead">
      <div class="scrHeadInner">
        <div class="ltMenu">
          <ul>
            <li class="frst">
              <a href="#0">depth1</a>
              <span class="areaLine"></span>
            </li>
            <li class="scnd"><a href="#0">depth2-1</a></li>
            <li class="prst"><a href="#0">depth2-2</a></li>
            <li class="scnd"><a href="#0">depth2-3</a></li>
            <li class="scnd"><a href="#0">depth2-4</a></li>
          </ul>
        </div>
        <div class="rtIcon">
          <ul>
            <li class="loc"><a href="#0" title="지도검색">지도검색</a></li>
            <li class="alrm"><a href="#0" title="알림">알림</a></li>
            <li class="mpg"><a href="#0" title="마이페이지">마이페이지</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="lytSubHead">
      <div class="cptSubHead">
        <h2 class="pageTitle h1">화면명</h2>
        <div class="pBreadCrumb">
          <ul>
            <li class="main">
              <h4><a href="#0">메인바로가기</a></h4>
            </li>
            <li class="scndDepth">
              <h5><a href="#0" class="body1 reg">depth1</a></h5>
            </li>
            <li class="trdDepth prst">
              <h6><a href="#0" class="body1 reg">depth2-2</a></h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>