<div class="modal" id="orderChgCancelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">수주 취소</h3>
        <button type="button" class="icon-close modal-close"></button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-content">
            <span class="label">취소수수료 예상비용</span>
            <p class="font-medium">10,000</p>
          </div>
        </div>

        <div class="mt-10">
          <div class="flex justify-between flex-wrap gap-2">
            <h5 class="card-title">변경요청 사유</h5>
            <span class="text-red-indent font-medium">* 처리 여부에 참고되는 내용입니다. 가급적 자세히 기술해 주시기 바랍니다.</span>
          </div>
          <div class="mt-3">
            <textarea name="" id="" class="textarea input"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">닫기</button>
        <button type="button" class="btn btn-primary">수주 취소요청</button>
      </div>
    </div>
  </div>
</div>

<script>

</script>