@charset "utf-8";
/* ----------
Common
---------- */


/* *** common *** */
.cm-fl { float:left; }
.cm-fr { float:right; }

.cm-cb { clear:both; }
.cm-cf { clear:both; height:1px; }

.cm-al { text-align:left !important; }
.cm-ac { text-align:center !important; }
.cm-ar { text-align:right !important; }
.cm-aj { text-align:justify !important; }

.cm-vt { vertical-align:top; }
.cm-vm { vertical-align:middle; }
.cm-vb { vertical-align:bottom; }

.cm-oh { overflow:hidden; }

.cm-cp { cursor:pointer; }

.cm-di { display:inline; }
.cm-db { display:block; }
.cm-dib { display:inline-block; }
.cm-dn { display:none; }

.cm-vv { visibility:visible; }
.cm-vh { visibility:hidden; }

.cm-bn { border:0 none; }
.cm-btn { border-top:0 none; }
.cm-brn { border-right:0 none; }
.cm-bbn { border-bottom:0 none; }
.cm-bln { border-left:0 none; }

.cm-bgn { background:none; }

.cm-fb { font-weight:bold; }
.cm-f600 { font-weight:600; }
.cm-f700 { font-weight:700; }
.cm-f800 { font-weight:800; }

/* *** addition *** */
/* alert ie */
.cm-alert-ie { margin:0; padding:1em; font-size:12px; letter-spacing:-1px; color:#ebebeb; background:#808080; }
.cm-alert-ie a { color:#ffd6c2; }
.cm-alert-ie a:hover { color:#ffd6c2; }
.cm-alert-ie a:focus { color:#ffd6c2; }
.cm-alert-ie a:active { color:#ffd6c2; }

/* accessibility */
.cm-accessibility a { position:absolute; text-align:center; width:200px; display:block; background:#c52227; color:#fff; left:-9999px; }
.cm-accessibility a:hover { z-index:999999; margin-left:-100px; left:50%; }
.cm-accessibility a:focus { z-index:999999; margin-left:-100px; left:50%; }
.cm-accessibility a:active { z-index:999999; margin-left:-100px; left:50%; }

/* width, height */
.cm-w10 { width:10px !important; }
.cm-w20 { width:20px !important; }
.cm-w30 { width:30px !important; }
.cm-w40 { width:40px !important; }
.cm-w50 { width:50px !important; }
.cm-w60 { width:60px !important; }
.cm-w70 { width:70px !important; }
.cm-w80 { width:80px !important; }
.cm-w90 { width:90px !important; }
.cm-w100 { width:100px !important; }

/* margin, padding */
.cm-mt10 { margin-top:10px !important; }
.cm-mt20 { margin-top:20px !important; }
.cm-mt30 { margin-top:30px !important; }
.cm-mt40 { margin-top:40px !important; }
.cm-mt50 { margin-top:50px !important; }
.cm-ml190 { margin-left:190px !important; }
.cm-pt10 { padding-top:10px !important; }

/* st */
.cm-st1 {
	height:20px; padding-left:20px; background:url("../../img/common/cm_st_bul_01.gif") no-repeat left 2px;
	font-size:16px; color:#333; font-weight:600; letter-spacing:-1px;
}
.cm-list1 {
	border:1px solid #c5c5c5; background-color:#f4f4f4; padding:14px 14px 14px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
.cm-list1 .list-top-txt {
	font-size:13px; color:#333; font-weight:600; line-height:1.1; letter-spacing:-1px;
}
.cm-list1 .list-ul li { margin-bottom:6px; position:relative; }
.cm-list1 .list-ul li:last-child { margin-bottom:0; }
.cm-list1 .list-ul .last { margin-bottom:0; }
.cm-list1 .list-ul li .left-txt {
	position:absolute; left:0; top:0;
	font-size:13px; color:#333; font-weight:600; line-height:1.1; letter-spacing:-1px;
}
.cm-list1 .list-ul li .right-txt {
	margin:0 0 0 20px;
	font-size:13px; color:#666; font-weight:500; line-height:1.1; letter-spacing:-1px;
}
.cm-list1 .list-ul li .right-txt .color1 { color:#0d8199; }
.cm-img1 { border:1px solid #c2c2c2; padding:15px 10px 15px 10px; }
.cm-img1 img { width:100%; }
.cm-line1 {
	font-size:0; height:1px; margin:30px 0 30px 0;
	background:url("../../img/common/cm_line_01.gif") repeat-x left top;
}
.cm-txt-box { *zoom:1; }
.cm-txt-box:after { content:""; display:block; clear:both; }
.cm-txt1 {
	font-size:13px; color:#333; font-weight:600; text-align:center; letter-spacing:-1px;
}
.cm-txt2 {
	font-size:14px; color:#666; font-weight:500; letter-spacing:-1px;
}
.cm-txt3 {
	display:block; float:left; width:30%; margin-right:7%;
	font-size:14px; color:#666; font-weight:500; letter-spacing:-1px; text-align:center;
}
.cm-txt4 {
	display:block; float:left; width:63%;
	font-size:14px; color:#666; font-weight:500; letter-spacing:-1px; text-align:center;
}
