/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Gothic Bold';
	font-style:normal;
	font-weight:700;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Gothic ExtraBold';
	font-style:normal;
	font-weight:800;
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*
 * Nanum Gothic (Korean) LOCAL
 */
/*
@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url(/font/NanumGothic-Regular.eot);
	src:url(/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumGothic-Regular.woff2) format('woff2'),
		url(/font/NanumGothic-Regular.woff) format('woff'),
		url(/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Gothic Bold';
	font-style:normal;
	font-weight:700;
	src:url(/font/NanumGothic-Bold.eot);
	src:url(/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumGothic-Bold.woff2) format('woff2'),
		url(/font/NanumGothic-Bold.woff) format('woff'),
		url(/font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Gothic ExtraBold';
	font-style:normal;
	font-weight:800;
	src:url(/font/NanumGothic-ExtraBold.eot);
	src:url(/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumGothic-ExtraBold.woff2) format('woff2'),
		url(/font/NanumGothic-ExtraBold.woff) format('woff'),
		url(/font/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/
