@charset "utf-8";
/* ----------
Popup
---------- */


/* *** popup *** */
body { background-color:#f3fafa; position:relative; }
body, table, th, td, input,
textarea, button, select {
	font-family:"Noto Sans KR", "나눔고딕", NanumGothic, "Nanum Gothic", "돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
}
#popupWrap { min-width:800px; position:relative; }
#popupHeader { padding:20px 20px 0; }
#popupHeader .header-tit .tit-box {
	display:block; height:50px; background-color:#0d8199;
	font-size:28px; color:#fff; font-weight:600; text-align:center; line-height:50px; letter-spacing:-1px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupHeader .header-tit.scroll-on { padding:0 0 45px; }
#popupHeader .header-menu2 { margin:10px 0 0 0; }
#popupHeader .header-menu2 .menu-ul { *zoom:1; }
#popupHeader .header-menu2 .menu-ul:after { content:""; display:block; clear:both; }
#popupHeader .header-menu2 .menu-ul li { float:left; width:50%; }
#popupHeader .header-menu2 .menu-ul li a {
	display:block; height:31px; border:2px solid #a1a1a1; background-color:#fff; margin:0 3px 0 2px;
	font-size:14px; color:#555; font-weight:600; text-align:center; line-height:31px; letter-spacing:-1px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
/*
#popupHeader .header-menu2 .menu-ul li:first-child a { margin-left:0; }
#popupHeader .header-menu2 .menu-ul .first a { margin-left:0; }
#popupHeader .header-menu2 .menu-ul li:last-child a { margin-right:0; }
#popupHeader .header-menu2 .menu-ul .last a { margin-right:0; }
*/
#popupHeader .header-menu2 .menu-ul li:nth-child(odd) a { margin-left:0; }
#popupHeader .header-menu2 .menu-ul li:nth-child(even) a { margin-right:0; }
#popupHeader .header-menu2 .menu-ul .first-ocr a { margin-top:3px; }
#popupHeader .header-menu2 .menu-ul .last-ocr a { margin-top:3px; }
#popupHeader .header-menu2 .menu-ul .first-html a { margin-top:3px; }
#popupHeader .header-menu2 .menu-ul .last-html a { margin-top:3px; }
#popupHeader .header-menu2 .menu-ul .current a { border-color:#0d8199; color:#0d8199; }
#popupHeader .header-menu5 { margin:10px 0 0 0; position:relative; z-index:99999; }
#popupHeader .header-menu5 .menu-ul { *zoom:1; }
#popupHeader .header-menu5 .menu-ul:after { content:""; display:block; clear:both; }
#popupHeader .header-menu5 .menu-ul li { float:left; width:16.6%; }
#popupHeader .header-menu5 .menu-ul li a {
	display:block; height:31px; border:2px solid #a1a1a1; background-color:#fff; margin:0 3px 0 2px;
	font-size:14px; color:#555; font-weight:600; text-align:center; line-height:31px; letter-spacing:-1px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupHeader .header-menu5 .menu-ul li:first-child a { margin-left:0; }
#popupHeader .header-menu5 .menu-ul .first a { margin-left:0; }
#popupHeader .header-menu5 .menu-ul li:last-child a { margin-right:0; }
#popupHeader .header-menu5 .menu-ul .last a { margin-right:0; }
#popupHeader .header-menu5 .menu-ul .current a { border-color:#0d8199; color:#0d8199; }
#popupHeader .header-menu5.scroll-on {
	position:absolute; left:0; top:70px; margin:0 0 0 0;
	width:100%; background-color:#f3fafa; border-bottom:1px solid #c2c2c2;
}
#popupHeader .header-menu5.scroll-on .menu-ul { margin:10px 20px 10px 20px; }
#popupMainContainer {
	margin:20px 20px 20px; position:relative; overflow:hidden;
}
#popupMainContentArea .main-top-banner {
	height:78px; border:1px solid #d5d5d5; background:#fff url("../../img/popup/main_top_img.jpg") no-repeat 44px 17px; overflow:hidden;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupMainContentArea .main-top-banner .txt1 {
	margin:18px 0 0 118px;
	font-size:20px; color:#333; font-weight:600; letter-spacing:-1px;
}
#popupMainContentArea .main-top-banner .txt1 .color1 { color:#0d8199; }
#popupMainContentArea .main-top-banner .txt2 {
	margin:7px 0 0 118px;
	font-size:14px; color:#666; font-weight:500; letter-spacing:-1px;
}
#popupMainContentArea .main-tab-menu { margin:20px 0 0; }
#popupMainContentArea .main-tab-menu .tab-ul { *zoom:1; }
#popupMainContentArea .main-tab-menu .tab-ul:after { content:""; display:block; clear:both; }
#popupMainContentArea .main-tab-menu .tab-ul li { float:left; width:33.333%; }
#popupMainContentArea .main-tab-menu .tab-ul li a {
	display:block; height:254px; border:3px solid #444; background-color:#666; margin:0 10px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupMainContentArea .main-tab-menu .tab-ul li:first-child a { margin-left:0; }
#popupMainContentArea .main-tab-menu .tab-ul .first a { margin-left:0; }
#popupMainContentArea .main-tab-menu .tab-ul li:last-child a { margin-right:0; }
#popupMainContentArea .main-tab-menu .tab-ul .last a { margin-right:0; }
#popupMainContentArea .main-tab-menu .tab-ul li a .tab-top {
	height:107px; margin:0 25px 0; border-bottom:1px solid #fff; overflow:hidden;
	background:url("../../img/popup/main_tab_icon_02_off.jpg") no-repeat center 20px;
}
#popupMainContentArea .main-tab-menu .tab-ul li.current a {
	border:3px solid #0d8199; background-color:#fff;
}
#popupMainContentArea .main-tab-menu .tab-ul li.current a .tab-top {
	border-bottom:1px solid #0d8199;
	background:url("../../img/popup/main_tab_icon_02_on.jpg") no-repeat center 20px;
}
#popupMainContentArea .main-tab-menu .tab-ul li:first-child a .tab-top,
#popupMainContentArea .main-tab-menu .tab-ul .first a .tab-top {
	background:url("../../img/popup/main_tab_icon_01_off.jpg") no-repeat center 21px;
}
#popupMainContentArea .main-tab-menu .tab-ul li:first-child.current a .tab-top,
#popupMainContentArea .main-tab-menu .tab-ul .first.current a .tab-top {
	background:url("../../img/popup/main_tab_icon_01_on.jpg") no-repeat center 21px;
}
#popupMainContentArea .main-tab-menu .tab-ul li:last-child a .tab-top,
#popupMainContentArea .main-tab-menu .tab-ul .last a .tab-top {
	background:url("../../img/popup/main_tab_icon_03_off.jpg") no-repeat center 20px;
}
#popupMainContentArea .main-tab-menu .tab-ul li:last-child.current a .tab-top,
#popupMainContentArea .main-tab-menu .tab-ul .last.current a .tab-top {
	background:url("../../img/popup/main_tab_icon_03_on.jpg") no-repeat center 20px;
}
#popupMainContentArea .main-tab-menu .tab-ul li a .tab-top .txt1 {
	margin:68px 0 0;
	font-size:18px; color:#fff; font-weight:600; text-align:center; letter-spacing:-1px;
}
#popupMainContentArea .main-tab-menu .tab-ul li.current a .tab-top .txt1 { color:#333; }
#popupMainContentArea .main-tab-menu .tab-ul li.current a .tab-top .txt1 .color1 { color:#0d8199; }
#popupMainContentArea .main-tab-menu .tab-ul li a .tab-txt {
	margin:17px 0 0;
	font-size:13px; color:#fff; font-weight:500; text-align:center; line-height:1.4; letter-spacing:-1px;
}
#popupMainContentArea .main-tab-menu .tab-ul li.current a .tab-txt { color:#666; }
#popupMainContentArea .main-content { margin:30px 0 0; }
#popupMainContentArea .main-content .main-st1 {
	height:35px; padding:0 0 0 47px; background:url("../../img/popup/main_st_icon_01.jpg") no-repeat left top;
	font-size:28px; color:#333; font-weight:500; line-height:30px; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-st1 .color1 { color:#0d8199; }
#popupMainContentArea .main-content .main-list1 { margin:30px 0 0; }
#popupMainContentArea .main-content .main-list1 li { position:relative; margin:0 0 10px; }
#popupMainContentArea .main-content .main-list1 li:last-child { margin-bottom:0; }
#popupMainContentArea .main-content .main-list1 .last { margin-bottom:0; }
#popupMainContentArea .main-content .main-list1 li .left-txt {
	position:absolute; left:0; top:0;
	width:100px; height:60px; background-color:#0d8199; overflow:hidden;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupMainContentArea .main-content .main-list1 li .left-txt .txt1 {
	margin:23px 0 0;
	font-size:15px; color:#fff; font-weight:600; text-align:center; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-list1 li .left-txt .txt2 {
	margin:14px 0 0;
	font-size:15px; color:#fff; font-weight:600; text-align:center; line-height:1.1; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-list1 li .right-txt {
	margin:0 0 0 120px; padding:5px 0 0; min-height:55px;
	font-size:13px; color:#666; font-weight:500; line-height:1.3; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-txt-box1 {
	margin:30px 0 0; border:1px solid #0d8199; background-color:#fff; padding:10px 10px 10px 10px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
	font-size:13px; color:#0d8199; font-weight:500; line-height:1.3; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-banner1 {
	height:60px; margin:30px 0 0; background-color:#444; overflow:hidden;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}
#popupMainContentArea .main-content .main-banner1 .main-banner1-inner {
	width:400px; height:60px; margin:0 auto; overflow:hidden;
	background:url("../../img/popup/main_banner_icon_01.jpg") no-repeat 70px 14px;
}
#popupMainContentArea .main-content .main-banner1 .main-banner1-inner .txt1 {
	float:left; margin:21px 0 0 120px;
	font-size:18px; color:#fff; font-weight:500; letter-spacing:-1px;
}
#popupMainContentArea .main-content .main-banner1 .main-banner1-inner .txt2 {
	float:left; margin:15px 0 0 20px;
	font-size:28px; color:#ffcf28; font-weight:500; letter-spacing:-1px;
}
#popupMainContentArea .main-content { display:none; }
#popupMainContentArea .main-content1 { display:block; }
#popupMainContentArea .main-content2 .main-st1 { background:url("../../img/popup/main_st_icon_02.jpg") no-repeat left top; }
#popupMainContentArea .main-content3 .main-st1 { background:url("../../img/popup/main_st_icon_03.jpg") no-repeat left top; }
#popupContainer {
	border:1px solid #d5d5d5; background-color:#fff; margin:20px 20px 20px; position:relative; overflow:hidden;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;
}

#popupLnb { position:absolute; left:10px; top:10px; width:150px; z-index:9999; }
#popupLnb .lnb-top {
	height:44px; border:3px solid #0d8199;
	border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0;
	font-size:15px; color:#0d8199; font-weight:600; text-align:center; line-height:44px; letter-spacing:-1px;
}
#popupLnb .lnb-ul .lnb-li { border-bottom:1px solid #c1c1c1; }
#popupLnb .lnb-ul .lnb-li .depth1 {
	display:block; padding:10px 10px 10px 10px; background:url("../../img/popup/lnb_arrow_off.gif") no-repeat 134px 12px;
	font-size:14px; color:#444; font-weight:500; letter-spacing:-1px;
}
#popupLnb .lnb-ul .current .depth1 { background:#0d8199 url("../../img/popup/lnb_arrow_on.gif") no-repeat 134px 12px; color:#fff; }
#popupLnb .lnb-ul .lnb-li .lnb-sub {
	background-color:#eee; padding:10px 10px 10px 10px;
}
#popupLnb .lnb-ul .lnb-li .lnb-sub .lnb-sub-ul .lnb-sub-li { margin:0 0 7px; }
#popupLnb .lnb-ul .lnb-li .lnb-sub .lnb-sub-ul .lnb-sub-li:last-child { margin-bottom:0; }
#popupLnb .lnb-ul .lnb-li .lnb-sub .lnb-sub-ul .last { margin-bottom:0; }
#popupLnb .lnb-ul .lnb-li .lnb-sub .lnb-sub-ul .lnb-sub-li .depth2 {
	display:block; padding:0 0 0 8px; background:url("../../img/popup/lnb_sub_bul_off.gif") no-repeat left 5px;
	font-size:12px; color:#555; font-weight:500; letter-spacing:-1px;
}
#popupLnb .lnb-ul .lnb-li .lnb-sub .lnb-sub-ul .current .depth2 {
	background:url("../../img/popup/lnb_sub_bul_on.gif") no-repeat left 5px;
	color:#0d8199;
}
#popupLnb .lnb-ul .lnb-li .lnb-sub { display:none; }
#popupLnb .lnb-ul .current .lnb-sub { display:block; }
#popupContentArea { margin:10px 19px 30px; }
#popupContentArea .tit-area { height:48px; border-bottom:2px solid #d5d5d5; overflow:hidden; }
#popupContentArea .tit-area .tit {
	margin:14px 0 0 0;
	font-size:22px; color:#333; font-weight:600; letter-spacing:-1px;
}
#popupContentArea .tab-box { background-color:#d5d5d5; overflow:hidden; position:relative; z-index:999; }
#popupContentArea .tab-box .tab-ul { *zoom:1; margin:10px 6px 6px 10px; }
#popupContentArea .tab-box .tab-ul:after { content:""; display:block; clear:both; }
#popupContentArea .tab-box .tab-ul li { float:left; margin:0 4px 4px 0; }
#popupContentArea .tab-box .tab-ul li a {
	display:block; background-color:#555; padding:5px 8px 5px 8px;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	font-size:12px; color:#fff; font-weight:500; letter-spacing:-1px;
}
#popupContentArea .content { margin:30px 0 0 0; min-height:512px; }
.pop-con { display:none; }
.pop-con1 { display:block; }
