<div class="modal" id="editAreaNameModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">영역 정보 수정</h5>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group w-full">
          <label>
            <span class="label required">영역 이름</span>
            <input type="text" name="" id="editAreaNameInput" class="input" placeholder="수정할 영역 이름 입력" value="">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">취소</button>
        <button type="button" class="btn btn-primary" onclick="saveChangeAreaName()">저장</button>
      </div>
    </div>
  </div>
</div>