<div class="modal" id="printCreateQrModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">QR코드 생성 미리보기</h5>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body">
        <span id="qrCodeListCaption" class="label font-normal"></span>
        <div class="mt-2">
          <ul id="qrCodeList" class="qr-list-wrap lg:grid-cols-2 xl:grid-cols-3"></ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">닫기</button>
        <button type="button" class="btn btn-primary" onclick="printCreatedQr()">PDF 변환</button>
      </div>
    </div>
  </div>
</div>

<style>
  .qr-list-wrap { display: grid; gap: calc(var(--spacing) * 2); }
  .qr-list-wrap > li { display: inline-block; padding: calc(var(--spacing) * 6) calc(var(--spacing) * 6) calc(var(--spacing) * 4); border: 1px solid var(--border); }
  .qr-list-wrap > li:nth-child(n+7) { display: none; }
  .qr-list-wrap .logo-area p, .qr-list-wrap dt, .qr-list-wrap dd { font-size: var(--text-base); font-weight: var(--font-weight-bold); line-height: 1; color: var(--primary-500); }
  .qr-list-wrap .logo-area { display: flex; align-items: flex-end; justify-content: space-between; border-bottom: 1px solid var(--primary-500); padding-bottom: calc(var(--spacing) * 4); margin: 0 0 calc(var(--spacing) * 2); }
  .qr-list-wrap .logo-area .qr-logo { width: 40%; height: auto; }
  .qr-list-wrap .info { width: 75%; padding-right: calc(var(--spacing) * 2); border-right: 1px solid var(--primary-500); }
  .qr-list-wrap dl { display: flex; padding: calc(var(--spacing) * 2) 0; border-bottom: 1px solid var(--primary-500); }
  .qr-list-wrap dt { flex: none; padding: 0 calc(var(--spacing) * 2); border-right: 1px solid var(--primary-500); letter-spacing: -0.1em; }
  .qr-list-wrap dd { padding-left: calc(var(--spacing) * 2); letter-spacing: -0.1em; }
  .qr-list-wrap .dl-item { width: 100%; border-bottom: 0; }
  .qr-list-wrap .qr-box { width: 25%; }
  .qr-list-wrap .qr-box > * { width: 100%; height: 100%; object-fit: contain; object-position: 50%; }

  @page print-created-qr { size: A4 portrait; margin: 0; padding: 1.25cm 0.65cm; }
  @media print {
    * { -webkit-print-color-adjust: exact; print-color-adjust: exact; box-sizing: border-box; }
    .printCreatedQr { page: print-created-qr; background: #fff; }
    .printCreatedQr .sidebar-wrapper, .printCreatedQr .page-wrapper .header, .printCreatedQr .page-wrapper .container-h-full,
    .printCreatedQr #printCreateQrModal .modal-header, .printCreatedQr #printCreateQrModal .modal-body .label, .printCreatedQr #printCreateQrModal .modal-footer { display: none; }
    .printCreatedQr .page-wrapper, .printCreatedQr .page-content { padding: 0; margin: 0; }
    .printCreatedQr #printCreateQrModal.modal { position: static; z-index: 999; height: auto; overflow: visible; }
    .printCreatedQr #printCreateQrModal .modal-dialog { width: 100%; max-width: none; max-height: none; margin: 0; }
    .printCreatedQr #printCreateQrModal .modal-content { border: 0; border-radius: 0; }
    .printCreatedQr #printCreateQrModal .modal-body { padding: 0; margin: 0; height: auto; overflow: visible; }
    .printCreatedQr #printCreateQrModal .modal-body { -ms-overflow-style: none; }
    .printCreatedQr #printCreateQrModal .modal-body::-webkit-scrollbar { display: none; }

    .printCreatedQr #printCreateQrModal .qr-list-wrap::after { content: ''; display: block; clear: both; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap { display: block; width: 100%; font-size: 0; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap > li { display: block; width: 6.4cm; height: 3.4cm; margin: 0 0.25cm 0 0; padding: 0.16cm; border: 0; float: left; overflow: hidden; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap > li:nth-child(3n) { margin-right: 0; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .logo-area p,
    .printCreatedQr #printCreateQrModal .qr-list-wrap dl dt,
    .printCreatedQr #printCreateQrModal .qr-list-wrap dl dd { font-size: 0.26cm; font-weight: var(--font-weight-bold); line-height: 1; color: var(--primary-500); }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .logo-area { display: flex; align-items: flex-end; justify-content: space-between; border-bottom: 1px solid var(--primary-500); padding: 0.16cm 0; margin: 0 0 0.16cm }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .logo-area .qr-logo { width: 40%; height: auto; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .info { width: 74%; padding: 0 0.1cm 0 0; border-right: 1px solid var(--primary-500); }
    .printCreatedQr #printCreateQrModal .qr-list-wrap dl { display: flex; padding: 0.1cm 0.05cm; border-bottom: 1px solid var(--primary-500); }
    .printCreatedQr #printCreateQrModal .qr-list-wrap dt { flex: none; padding: 0 0.1cm 0 0; letter-spacing: -0.04cm; border-right: 1px solid var(--primary-500); }
    .printCreatedQr #printCreateQrModal .qr-list-wrap dd { padding: 0 0 0 0.05cm; letter-spacing: -0.03cm; white-space: normal; word-break: break-all; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .dl-item { padding-top: 0.15cm; border-bottom: 0; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .qr-box { width: 26%; padding-left: 0.16cm; }
    .printCreatedQr #printCreateQrModal .qr-list-wrap .qr-box > * { width: 100%; height: 100%; object-fit: contain; object-position: 50%; }
  }
</style>

<script>
  function printCreatedQr() {
    $.ajax({
      url: '/hqDrawingMng/generateQrCode'
      ,type: 'post'
      ,data: {
        conIdx: this.selectedRowOfMyGridId1.CON_IDX,
        estaIdx: this.selectedRowOfMyGridId1.ESTA_IDX,
      }
      ,success: function(res){}
    });

    document.body.classList.add('printCreatedQr');
    window.print();
  }

  window.addEventListener("afterprint", () => {
    document.body.classList.remove('printCreatedQr');
  });
</script>
