<div class="modal" id="serviceRatingModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">만족도 조사 결과</h5>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <div class="card-title text-base">★ <span>5</span></div>
          </div>
          <div class="card-content">
            <span class="label">추가 의견</span>
            <div class="text-sm font-medium break-keep mt-1">서비스 개선을 위해 작성된 의견이 노출됩니다. 서비스 개선을 위해 작성된 의견이 노출됩니다. 서비스 개선을 위해 작성된 의견이 노출됩니다. 서비스 개선을 위해 작성된 의견이 노출됩니다.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">닫기</button>
      </div>
    </div>
  </div>
</div>

<script>
</script>
