@charset "utf-8";
/* ----------
Reset
---------- */


/* *** reset *** */
@import url("./font.css");
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
@import url("./notosanskr.css");

* {margin:0;padding:0;border:0;outline:0;-webkit-text-size-adjust:none;word-break:break-all;letter-spacing:-0.02em;line-height:1.5;color:var(--text-bod); font-family:"NotoSans", "roboto";}
*, *::before, *::after {-webkit-moz-box-sizing: border-box;  -ms-moz-box-sizing: border-box;  -o-moz-box-sizing: border-box;  box-sizing: border-box;}

html, body {font-family:"NotoSans", "roboto";font-size:10px; }
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	quotes:none;
	margin:0;
	padding:0;
	text-decoration: none;
	font-size:1.4rem;
	font-weight:inherit;
	font-style:normal;
	vertical-align:baseline;
    outline: none;
    text-decoration: none;
	line-height: 1.38em;
}
blockquote:before, blockquote:after {content:''; content:none;}
q:before, q:after {content:'';content:none;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display:block;
}
audio, canvas, video {
    display:inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
audio, canvas, img, video {
	vertical-align:middle;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
	font-size:1.4rem;
}
img, fieldset {
	border:0;
}
input, select, textarea {
	line-height:1.2;
	vertical-align:middle;
}
button, select {
	text-transform:none;
}
button, input {
	line-height:normal;
}
textarea {
	resize:vertical;
	overflow:auto;
}
address, caption, cite, code,
dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
label {
	cursor:pointer;
}
/* For Screen Reader */
legend {
	display:none;
	visibility:hidden;
}
/* For Screen Reader */
caption {
	display:none;
	visibility:hidden;
}
abbr[title], dfn[title] {text-decoration:none;border-bottom:medium none;cursor:default;}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid var(--line1);
	margin:1em 0;
	padding:0;
}
a {
	text-decoration:none;
	font-size:1.4rem; word-break: break-all;
}
a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration:none;
}
a:visited, a:hover, a:active {text-decoration:none;}
textarea:focus {
	outline: none;
}
legend, caption {display:none;clear:both;}
button {vertical-align:middle;cursor:pointer;border:0 none;background-color:transparent;}
button::-moz-focus-inner {padding:0;border:0;} 
label {cursor:pointer;}

input {font-family:"NotoSans", "roboto";vertical-align:middle;}
input::-moz-focus-inner {padding:0;border:0;}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="date"],input[type="number"] {
	width: 100%;
	height:4.4rem;
	padding:0 1.2rem;
	font-size:1.4rem;
	/*background:#fff;  
	border: 1px solid #ccc;  
	border-radius:0.8rem;
	*/
	-webkit-appearance:none; 
	appearance:none;
}
input[type="button"],input[type="reset"],input[type="submit"] {
	font-size:1.4rem;
	vertical-align:middle;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-appearance:none; 
	appearance:none;
	cursor:pointer;
}
input[type="checkbox"] {
  width: 18px;  height: 18px;  padding: 0;
}
input[type="radio"] {
  width: 15px;  height: 15px;  padding: 0;
}

input::placeholder,
textarea::placeholder {color:var(--text-sub2);}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {color:var(--text-sub2);}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:var(--text-sub2);}

input:not([type=radio]):active, 
input:not([type=radio]):focus,
input:not([type=checkbox]):active, 
input:not([type=checkbox]):focus {border-color:var(--text-title);}
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="tel"]:read-only,
input[type="email"]:read-only,
input[type="date"]:read-only,
input[type="number"]:read-only {background-color:#f8f8f8;}
input:disabled {color:#a6a6a6;border-color:var(--line3);background-color:#fbfbfb;}

textarea {
	width: 100%;  
	margin:0;  
	height:21.2rem;
	overflow-y: auto;
	padding: 1.2rem;  
	font: inherit;  
	font-size:1.4rem;
	color: inherit;  
	border: 0.1rem solid var(--line1);  
	-webkit-border-radius:0.6rem;  
	border-radius:0.6rem;
	-webkit-appearance: none; 
	appearance: none; 
	resize: none;  
}
textarea:active, textarea:focus {border-color:var(--text-title);}

select {
	margin: 0;  
	font: inherit;  
	font-size:1.4rem;
	color: inherit;  
	vertical-align: middle;  
	-webkit-border-radius:0.8rem;
	border-radius:0.8rem;
	border: 1px solid var(--line1); 
	background: var(--color-white);
	-webkit-appearance: none; 
	-moz-appearance:none; 
	appearance:none;
}
select::-ms-expand {display:none}

optgroup {
	font:inherit;color:inherit;margin:0;
}

img {
	max-width:100%;
	vertical-align: middle;
	transform:translateZ(0); /*20230403 이미지 정상 랜더링 전용 css 추가*/
}