/* topbar */
#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: var(--navbar-vertical-width);
    z-index: 1001;
    background-color: var(--header-bg);
    transition: all .1s ease-out;
    border-bottom: 1px solid var(--header-border);
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: var(--header-height);
    padding: 0 5px;
}
.header-item {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    color: var(--header-item-color);
}
.hamburger-icon {
    width: 20px;
    height: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.hamburger-icon.open {
    transform: rotate(-90deg);
}
.hamburger-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--header-item-color);
    position: absolute;
    left: 0;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8,.5,.2,1.4);
}
.hamburger-icon span:nth-child(1) {
    top: 0;
    width: 80%;
}
.hamburger-icon span:nth-child(2) {
    top: 6px;
}
.hamburger-icon span:nth-child(3) {
    bottom: 0;
    width: 60%;
}
.hamburger-icon.open span:nth-child(1) {
    left: 1px;
    top: 5px;
    width: 20px;
    transform: rotate(90deg);
    transition-delay: 150ms;
}
.hamburger-icon.open span:nth-child(2) {
    left: 3px;
    top: 13px;
    width: 10px;
    transform: rotate(45deg);
    transition-delay: 50ms;
}
.hamburger-icon.open span:nth-child(3) {
    left: 9px;
    top: 13px;
    width: 10px;
    transform: rotate(-45deg);
    transition-delay: .1s;
}
.topbar-user>button {
    padding: 0 1rem;
}
.topbar-user img,
.topbar-user svg {
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    padding: .5rem;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(255,255,255,.1);
}
.topbar-user .dropdown-menu {
    text-align: center;
}
.topbar-user .user-name {
    color: var(--body-color);
    padding: 7px 10px;
}

/* navbar-header-item.....etc */
.cs_header-item-group {
    display: flex;
    gap: .5rem 1rem;
}
.cs_header-item-group .header-item label {
    position: relative;
}
.cs_header-item-group .header-item label>span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: var(--input-fontSize);
    font-weight: 600;
}
[data-topbar=dark] .cs_header-item-group .header-item {
    color: var(--header-item-color);
}
.cs_header-item-group input[type="tel"] {
    border: 1px solid var(--input-border);
    border-radius: 35px;
    outline: none;
    padding: .3rem 1rem .3rem 85px;
    max-width: 185px;
    background: var(--input-bg);
}
#page-topbar input {
    color: var(--header-item-color);
}
[data-topbar=dark] .navbar-header input {
    background: var(--input-bg);
    border-color: transparent;
}
[data-topbar=dark][data-theme-colors=yellow] .navbar-header input {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
[data-topbar=dark] #page-topbar .select2-container--default .select2-selection--single {
    border-color: rgba(0, 0, 0, 0.1);
}
.cs_header-item-group .header-item form+button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: var(--input-height);
}
.header-item-etc {
    display: none;
}
@media (max-width: 1630px) {
    .header-item-etc {
        display: flex;
        margin-right: .25rem;
        cursor: pointer;
    }
    .cs_header-item-group {
        display: none;
    }
    .cs_header-item-group.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 5px;
        background: var(--card-bg);
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        padding: 1rem;
    }
    .cs_header-item-group.active .header-item {
        align-self: start;
    }
    [data-topbar=dark] .cs_header-item-group.active input {
        border-color: var(--input-border);
        color: var(--dark);
    }
    [data-topbar=dark] .cs_header-item-group.active .header-item {
        color: var(--dark);
    }
}

/* side Nav-bar */
/* layout vertical */
.navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: var(--navbar-vertical-width);
    height: 100%;
    z-index: var(--layout-z-index);
    background: var(--navbar-bg);
    box-shadow: var(--navbar-box-shadow);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.logo {
    display: inline-block;
    line-height: 55px;
    padding: 0 3px;
}
.logo .logo-sm {
    display: none;
    padding: 0 2px;
}

.navbar-brand-box {
    padding: 0 12px;
}

[data-sidebar-size=sm] .navbar-brand-box {
    padding: 0 5px;
}
[data-sidebar-size=sm] .navbar-menu:hover .logo-lg {
    display: block;
}
[data-sidebar-size=sm] .navbar-menu:hover .logo-sm {
    display: none;
}
[data-sidebar-size=sm] .navbar-menu:hover .navbar-brand-box {
    padding-left: 20px;
}
#nav-sidebar-wrap {
    overflow: auto;
    padding-right: 5px;
    padding-left: 5px;
    visibility: hidden;
}
#nav-sidebar-wrap::-webkit-scrollbar {
    width: 5px;
}
#nav-sidebar-wrap::-webkit-scrollbar-track {
    background: transparent;
}
#nav-sidebar-wrap::-webkit-scrollbar-thumb {
    background-color: #dbe0e3;
    border-radius: 10px;
}
[data-sidebar=dark] #nav-sidebar-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.4);
}
#nav-sidebar-wrap:hover,
.nav-sidebar-inner {
    visibility: visible;
}
.navbar-menu .nav-link {
    color: var(--nav-item-color);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}
.navbar-menu .nav-link:hover,
.nav-item-1st.nav-item-open>.nav-link {
    color: var(--nav-item-hover-color);
}
.navbar-menu .nav-link.active {
    color: var(--nav-item-active-color)
}
[data-layout=horizontal] .navbar-menu .nav-link {
    color: var(--topnav-item-color);
}
[data-layout=horizontal] .navbar-menu .nav-link.active,
[data-layout=horizontal] .navbar-menu .nav-link:hover,
[data-layout=horizontal] .nav-item-1st.nav-item-open>.nav-link {
    color: var(--topnav-item-active-color)!important;
}
[data-layout=horizontal] .nav-item-1st.nav-item-open>.nav-group-sub .nav-link.active {
    background: var(--topnav-item-active-bg);
}

.nav-item-1st {
    margin: 5px 0;
}
[data-layout=vertical] .nav-item-1st>.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 4px;
}
[data-layout=vertical] .nav-item-1st>.nav-link.active::before {
    background: var(--nav-item-bg)!important;
}
[data-layout=vertical] .nav-item-1st.nav-item-open>.nav-link::before,
[data-layout=vertical] .nav-item-1st>.nav-link:hover::before {
    background: var(--nav-item-sub-bg);
}
.nav-item-1st>.nav-link:after {
    content: "\e9c7";
    font-family: icomoon;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 12px;
    transition: transform .25s ease-in-out;
}
.nav-item-1st>.nav-link>i {
    display: inline-block;
    width: 27px;
    height: 19px;
    min-width: auto;
    padding: 2px 2px 2px 0;
    text-align: left;
}
.nav-item-1st>.nav-link>i svg {
    width: 19px;
    height: 100%;
}
.nav-group-sub {
    font-size: 12px;
    padding-left: 9px;
}
.nav-item>.nav-group-sub {
    display: none;
}
.nav-group-sub .nav-link {
    color: var(--nav-sub-item-color);
    padding: 5px 0 5px 25px;
    margin: 5px 0;
}
.nav-group-sub .nav-link::after {
    content: "";
    display: block;
    background-color: var(--nav-sub-item-color);
    width: 6px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -1px;
}
.nav-group-sub .nav-link.active::after,
.nav-group-sub .nav-link:hover::after {
    background: var(--primary);
}
[data-sidebar=dark] .nav-group-sub .nav-link.active::after,
[data-sidebar=dark] .nav-group-sub .nav-link:hover::after {
    background: #fff;
}
.nav-group-sub .nav-link:hover,
.nav-group-sub .nav-link.active {
    color: var(--primary);
}
[data-sidebar=dark] .nav-group-sub .nav-link:hover,
[data-sidebar=dark] .nav-group-sub .nav-link.active {
    color: #fff;
}
.vertical-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 37, 41, .35);
    z-index: 1003;
    display: none;
}
.vertical-sidebar-enable .navbar-menu {
    margin-left: 0!important;
}
.vertical-sidebar-enable .vertical-overlay {
    display: block;
}
[data-layout=horizontal] .nav-item-1st>.nav-link.active {
    position: relative;
}

/* data-sidebar-size=sm 일 경우 */
[data-sidebar-size=sm] .navbar-menu {
    width: var(--navbar-vertical-width-sm);
}
[data-sidebar-size=sm] .navbar-menu:hover {
    width: var(--navbar-vertical-width);
}
[data-sidebar-size=sm] .navbar-menu:hover #nav-sidebar-wrap {
    padding-right: 5px;
}
[data-sidebar-size=sm] .navbar-menu:hover .nav-item-1st>.nav-link,
[data-sidebar-size=sm] .navbar-menu:hover .nav-group-sub {
    padding-left: 20px;
}
[data-sidebar-size=sm] .navbar-menu:hover .nav-link span {
    display: flex;
}
[data-sidebar-size=sm] .logo span.logo-lg {
    display: none;
}
[data-sidebar-size=sm] .logo span.logo-sm {
    display: inline-block;
}
[data-sidebar-size=sm] #nav-sidebar-wrap {
    padding-right: 0;
}
[data-sidebar-size=sm] .nav-sidebar .nav-item {
    position: relative;
}
[data-sidebar-size=sm] .nav-item-1st>.nav-link:after,
[data-sidebar-size=sm] .nav-sidebar .nav-link span,
[data-sidebar-size=sm] .nav-group-sub>.nav-link span {
    display: none;
}
[data-sidebar=dark] .nav-sidebar .icon-bookmarks.text-primary {
    color: inherit!important;
}
@media (min-width: 768px) {
    [data-sidebar-size=sm] #page-topbar {
        left: var(--navbar-vertical-width-sm);
    }
    [data-sidebar-size=sm] .main-content {
        margin-left: var(--navbar-vertical-width-sm);
    }
}
@media (min-width: 1024.1px) {
    [data-layout=horizontal] .nav-item-1st>.nav-link.active::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* layout horizontal */
[data-layout=horizontal] #page-topbar {
    position: sticky;
}
[data-layout=horizontal] .main-content {
    margin-left: 0;

    min-height: calc(100vh - var(--header-height) - 45px);
}
[data-layout=horizontal] .page-content {
    padding-top: 10px;
}
[data-layout=horizontal] .navbar-menu {
    display: none;
    margin-left: 0;
    width: 100%;
    height: auto;
    bottom: auto;
}
[data-layout=horizontal] .horizontal-menu-enable .navbar-menu {
    display: block;
    max-height: 350px;
    overflow-y: auto;
    padding: .5rem 0;
    margin-top: var(--header-height);
}
[data-layout=horizontal] .navbar-menu .navbar-brand-box,
#page-topbar .navbar-brand-box {
    display: none;
}
[data-layout=horizontal] .nav-link {
    padding: .5rem .75rem .5rem 1rem;
}
[data-layout=horizontal] .nav-group-sub {
    padding-left: 17px;
}
[data-layout=horizontal] .nav-group-sub .nav-link {
    margin: 0;
    padding-left: 1.6rem;
}
@media (min-width: 1024.1px) {
    [data-layout=horizontal] #page-topbar .navbar-brand-box {
        display: block;
        padding: 0 20px;
    }
    [data-layout=horizontal] .topnav-hamburger {
        display: none;
    }
    [data-layout=horizontal] .navbar-menu {
        display: block;
        position: sticky;
        top: var(--header-height);
        width: 100%;
        padding: 0 .625rem;
        margin-left: 0;
        background-color: var(--navbar-bg);
    }
    [data-layout=horizontal] .nav-sidebar {
        display: flex;
        flex-wrap: wrap;
    }
    [data-layout=horizontal] .nav-item-1st>.nav-link {
        padding: .5rem .75rem;
    }
    [data-layout=horizontal] .nav-item-1st>.nav-link:after {
        content: none;
    }
    [data-layout=horizontal] .nav-item-1st>.nav-link>i {
        display: none;
    }
    [data-layout=horizontal] .nav-item>.nav-group-sub {
        position: absolute;
        background-color: var(--navbar-bg);
        min-width: 12rem;
        box-shadow: 0 0 5px rgba(15, 34, 58, .15);
        padding: .5rem 0;
        z-index: 10;
    }
    [data-layout=horizontal] .nav-group-sub .nav-link {
        padding-left: 1.2rem;
    }
    [data-layout=horizontal] .nav-group-sub .nav-link::after {
        content: none;
    }
}

/* dark mode */
[data-layout="horizontal"][data-mode="dark"] .logo img,
[data-layout="horizontal"][data-topbar="dark"] .logo img,
[data-layout="vertical"][data-sidebar="dark"] .logo img {
    background: #fff;
}
[data-layout="horizontal"][data-mode="dark"] .logo-lg img,
[data-layout="horizontal"][data-topbar="dark"] .logo-lg img,
[data-layout="vertical"][data-sidebar="dark"] .logo-lg img {
    padding: 2px 5px;
}

/* theme customizer*/
#theme-setting {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background: var(--theme-customizer-bg);
    color: var(--theme-customizer-color);
    z-index: 1090;
    display: none;
}
#theme-setting.show {
    display: block;
}
.theme-setting-close {
    font-size: 1rem;
    margin-right: -.3rem;
    color: #fff;
    opacity: .5;
}
.theme-setting-close::before {
    content: "\ed6a";
    font-family: icomoon;
}
.theme-setting-header {
    background: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.theme-title {
    font-weight: 700;
    color: var(--theme-font-color);
    margin-bottom: 1rem;
}
.theme-title ~ .theme-title {
    margin-top: 1rem;
}
.theme-inner-txt {
    color: var(--theme-font-color);
    font-weight: 500;
    padding: .5rem 0;
    text-align: center;
}
.theme-box-size {
    height: 4.5rem;
}
.data-theme-colors {
    background: var(--primary);
}
.bg-primary-subtle {
    background: var(--bg-primary-subtle);
}
.data-theme-colors {
    width: 2rem;
    height: 2rem;
}
.card-radio .form-check-label[for=themeColor-01] {
    background-color: #405189;
}
.card-radio .form-check-label[for=themeColor-02] {
    background-color: #3b82f6;
}
.card-radio .form-check-label[for=themeColor-03] {
    background-color: #066b5e;
}
.card-radio .form-check-label[for=themeColor-04] {
    background-color: #FCE09F;
}
.theme-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    display: none;
}
.theme-overlay.show {
    display: block;
}
/* page */
.main-content {
    margin-left: var(--navbar-vertical-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-content {
    padding: calc(var(--header-height) + 10px) 0 10px;
    height: 100%;
    flex-grow: 1;
    display: flex;
}
.page-title-box {
    padding: 10px 1rem;
    background-color: var(--inside-bg);
    border-bottom: 1px solid var(--input-border);
    border-radius: .25rem .25rem 0 0;
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    flex-direction: column;
}

/* 768 이하일 때 sideNav 및 page 동작 */
@media (max-width: 767.98px) {
    .navbar-menu {
        margin-left: -100%;
        padding: 10px 0 20px 0;
        transition: all .1s ease-out;
    }
    .vertical-sidebar-enable .navbar-menu {
        margin-left: 0!important;
        z-index: 1004;
    }
    #page-topbar {
        left: 0;
    }
    .main-content {
        margin-left: 0;
    }
}

/* card style */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    box-shadow: var(--card-shadow);
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.card-header {
    padding: 10px 1rem;
    min-height: 45px;
    border-bottom: 1px solid var(--input-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
.card-title {
    font-weight: 600;
    display: flex;
    align-items: center;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px 1rem;
}
.card-body-title {
    font-weight: 600;
    margin-bottom: .5rem;
}
.card-footer {
    padding: 1rem;
    border-top: 1px solid var(--input-border);
}
.button-group-between {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 5px;
    padding-top: .5rem;
}
.button-group-between>div {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}
.button-group-between>div:last-child {
    margin: 0 0 0 auto;
}
.card-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch
}
.card:last-of-type {
    margin-bottom: 0;
}
.row:not(.flex-grow-1) [class^=col-] .card {
    margin-bottom: 10px;
}
[class*=col-]:has(.card) {
    display: flex;
    flex-direction: column;
}
[class*=col-] .card {
    flex-grow: 1;
}
[class*=col-] .card.card-collapsed {
    flex-grow: initial;
}

/* input box style */
.form-group {
    margin-bottom: .5rem;
}
.form-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: .4rem;
    word-break: keep-all;
    line-height: 1.05;
    max-height: 15px;
}
.form-label > span {
    font-weight: 600;
    font-size: 11px;
    padding-left: .15rem;
    position: relative;
}
.form-label.requested > span::before {
    content: '*';
    position: absolute;
    top: -2px;
    left: -3px;
    transform: translateY(-5px);
    font-size: 1rem;
    color: #DD8B95;
}
.form-label.requested > span.select2::before {
    top: 3px;
}
.form-label .select2-container {
    height: auto;
}
.form-label .select2-selection--single {
    border: none!important;
}
.form-label .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}
.form-label .select2-selection__clear {
    display: none;
}
.form-label-highlight {
    background: antiquewhite!important;
    color: var(--dark);
}
.form-label-select {
    color: #888;
}
.form-label-select .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.1;
}
.form-label-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 11px;
}
.form-label-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--primary) transparent transparent transparent;
}
input, textarea, select {
    font-size: var(--input-fontSize);
}
.form-control {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--input-height);
    padding: 0 .5rem;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: var(--input-radius);
    transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    appearance: none;
    position: relative;
    color: inherit;
}
[data-mode=dark] .form-control[readonly] {
    background-color: var(--input-bg);
}
.form-group textarea.form-control {
    height: var(--input-height);
    padding-top: 5px;
}
:is(.form-group , .d-flex)>.form-control+.form-control {
    margin-left: -1px;
}
:is(.form-group, .form-group-row)>.form-control,
:is(.form-group, .form-group-row)>[class*=select2],
.form-group-row {
    flex: 1;
}
.flex-1:not(.d-flex)>.form-control+.form-control {
    margin-top: -1px;
}
.form-control input:not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
}
.form-control>img.input-thumb {
    flex-shrink: 0;
    margin-right: .5rem;
}
input[type=file].form-control {
    display: flex;
    padding-top: 2px;
}
/* form-check */
.form-check {
    display: block;
}
.form-check-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.form-check-input {
    width: 1.1em;
    height: 1.1em;
    appearance: none;
    background: #fff;
    border: 1px solid var(--input-border);
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    position: relative;
}
.form-check-input:checked[type=radio]::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 28%, transparent 32%);
}
.form-check-input:disabled {
    pointer-events: none;
    opacity: .5;
}
.card-radio .form-check-input {
    display: none;
}
.card-radio .form-check-label {
    background-color: #fff;
    border: 1px solid var(--input-border);
    border-radius: .25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
}
.card-radio .form-check-label:has(>.form-check-input:checked) {
    border-color: var(--primary);
    position: relative;
}
.card-radio .form-check-label:not(.data-theme-colors):has(>.form-check-input:checked)::before {
    content: "\ee73";
    font-family: icomoon;
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 14px;
    color: var(--primary);
}
/* breadcrumb */
.breadcrumb {
    display: flex;
    align-items: center;
}
.breadcrumb-item {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "\e800";
    font-family: 'fontello';
    margin-right: .5rem;
}
.breadcrumb-item.active {
    color: var(--primary);
}
[data-mode=dark] .breadcrumb-item.active {
    color: var(--white);
}
.breadcrumb .bookmark-icon {
    font-family: icomoon!important;
    margin-left: .3125rem;
    cursor: pointer;
    color: #dde1e4;
}
.breadcrumb .bookmark-icon::before {
    content: "\ecb4";
    font-size: 1rem;
    font-style: normal;
}
.breadcrumb .bookmark-icon.active {
    color: var(--primary);
}

/* button */
.btn[data-toggle="dropdown"] {
    padding-right: 25px;
}
.btn[data-toggle="dropdown"]::after {
    content: "\e800";
    font-family: 'fontello';
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    right: 9px;
}
.btn-basic {
    color: var(--basic-color);
    background-color: var(--basic);
    border-color: transparent;
    font-weight: 600;
}
.btn-basic:hover {
    color: var(--basic-color);
    background-color: var(--basic-hover);
    border-color: var(--basic-hover);
}
.btn-check {
    color: #383838;
    background-color: #d6edb9;
    border-color: #d6edb9;
    font-weight: 600;
}
.btn-check:hover {
    color: #383838;
    background-color: #bbe389;
    border-color: #bbe389;
}
.btn-reset {
    color: #fff;
    background-color: #383838;
    border-color: #383838;
}
.btn-reset:hover {
    color: #fff;
    background-color: #2F4858;
    border-color: #2F4858;
}
.btn-reset2 {
    color: #989898;
    background-color: var(--white);
    border-color: #aaa;
    padding: 2px 7px;
}
.btn-reset2::before {
    font-family: icomoon;
    content: "\eaa4";
    font-size: 13px;
}
.btn-excel {
    color: #fff;
    background: #207245;
    padding-right: 30px;
}
.btn-excel:hover {
    background: #135932;
}
.btn-excel::after {
    position: absolute;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
    font-size: 15px;
}
.btn-excel.upload::after {
    content: '\e801';
    font-family: fontello;
}
.btn-excel.download::after {
    content: '\ec80';
    font-family: icomoon;
    font-size: 11px;
}
.btn-delete {
    color: rgb(239 68 68);
    background: #fde8e4;
    padding-left: 7px;
    padding-right: 7px;
}
.btn-delete::before {
    content: "\ebfb";
    font-family: icomoon;
}

[data-mode=dark] .btn-delete {
    background: transparent;
}
.btn-save {
    color: #fff;
    background: #405189;
}
.btn-save::before {
    font-family: icomoon;
    content: "\ead4";
}
.btn-modify {
    color: #fff;
    background: #FFBF66;
}
.btn-modify::before {
    font-family: icomoon;
    content: "\e913";
}
[data-mode=dark] .btn-modify {
    color: #27050b;
    background: #edbd7a;
}
.btn-search {
    color: #fff;
    background-color: var(--navy);
}
.btn-search::before {
    font-family: icomoon;
    content: "\e98e";
}
.btn-plus {
    color: #fff;
    background-color: var(--blue);
}
.btn-plus::before {
    font-family: icomoon;
    content: "\ed5a";
}
.btn-save span,
.btn-modify span,
.btn-search span,
.btn-plus span {
    display: inline-block;
    text-indent: -999px;
}
.btn-file {
    background-color: #f2f5f7;
    border: 1px solid #ccc;
    padding: 3px 10px;
    font-size: 12px;
    cursor: pointer;
}
.fullscreenBtn {
    color: var(--body-color);
    border-color: var(--input-border);
}

/* popup page */
.popup-content {
    padding-bottom: 50px;
}
.popup-header {
    padding: .5rem 1rem;
    background: var(--popup-header-bg);
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
[data-mode="dark"] .popup-header {
    border-bottom: 1px solid #32383e;
}
.popup-title {
    font-weight: 700;
    font-size: .875rem;
}
.popup-footer {
    padding: 0.625rem;
    border-top: 1px solid var(--input-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--popup-footer-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup-footer>div:last-child {
    margin: 0 0 0 auto;
}
/* popup page input box style */
.popup-content .card {
    margin-bottom: 10px;
}
:is(.popup-content, .modal-content) .form-group,
.form-group-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;
    margin-bottom: 0;
}
:is(.popup-content, .modal-content ,.form-group-row) .form-label {
    width: var(--form-label-width);
    height: calc(var(--input-height) + 2px);
    max-height: none;
    margin-bottom: 0;
    flex-shrink: 0;
    background: #eff2f7;
    padding: 0 5px;
    border: 1px solid var(--input-border);
    margin-right: -1px;
}
[data-mode=dark] :is(.popup-content, .modal-content ,.form-group-row) .form-label  {
    background: rgba(0,0,0,.3);
}
:is(.popup-content, .modal-content,.form-group-row) .form-control,
:is(.popup-content, .modal-content,.form-group-row) textarea.form-control,
:is(.popup-content, .modal-content,.form-group-row) .multiselect-native-select,
:is(.popup-content, .modal-content ,.form-group-row
) .select2-container,
:is(.popup-content, .modal-content,.form-group-row) .select2-container .select2-selection--multiple,
:is(.popup-content, .modal-content,.form-group-row) .sp-replacer {
    height: calc(var(--input-height) + 2px);
}
:is(.popup-content, .modal-content ,.form-group-row) .form-control,
:is(.popup-content, .modal-content ,.form-group-row) .select2-container--default .select2-selection--single,
:is(.popup-content, .modal-content ,.form-group-row) .select2-container--default .select2-selection--multiple  {
    border-radius: 0;
}
:is(.popup-content, .modal-content ,.form-group-row) .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 2.3;
    height: 100%;
}
:is(.popup-content, .modal-content ,.form-group-row) .sp-replacer {
    background: var(--input-bg);
    border-radius: 0;
    border-color: var(--input-border);
    margin-left: -1px;
    flex: 1;
}
:is(.popup-content, .modal-content ,.form-group-row) .sp-preview {
    width: calc(100% - 25px);
    height: 100%;
}

/* modal page */
.modal-content .card {
    margin-bottom: 1rem;
}
.modal-body-title {
    font-weight: 600;
    margin-bottom: 10px;
}

/* summernote */
.note-editor.note-frame {
    width: 100%;
    border-radius: 0;
}
.note-editor .note-toolbar {
    border-bottom: 1px solid var(--input-border);
    padding: 5px 15px 10px;
}
.note-btn {
    background-color: #f7f7f7;
}
.note-btn:hover {
    border-color: rgba(0,0,0,.196);
}
[data-mode="dark"] .note-btn {
    border-color: var(--input-border);
    background-color: transparent;
    color: var(--body-color);
}
.note-editor a {
    color: #337ab7;
}
.note-editor a:focus, .note-editor a:hover {
    color: #23527c;
    text-decoration: underline;
}
.note-btn-group .btn[data-toggle="dropdown"]::after {
    transform: translateY(-50%) rotate(90deg);
    right: 5px;
    top: 50%;
}
.note-editor.note-airframe, .note-editor.note-frame {
    border-color: var(--input-border);
}

/* drop and drag image upload file */
/* 이미지 드래그 업로드 */
.dragUpload {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 10px 10px 0;
}
.drop-area {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
}
.drop-area:has(.uploadImg img) {
    width: 200px;
    cursor: pointer;
}
.drop-area[draggable=true] {
    cursor: grabbing;
}
[data-mode="dark"] .uploadImg:has(>img) {
    background: #1f2021;
}
.uploadImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px dashed #bbb5ff;
    background: #eff2f7;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.uploadImg img {
    height: 40%;
}
.uploadImg-delete {
    float: right;
    padding: 3px;
    background: #ffffff95 url(/assets/img/icons/close.png) no-repeat center / 12px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* 업무요청 page */
.qna_pop {
    display: flex;
    gap: 1rem;
}
.qna_pop>.card {
    margin-bottom: 0;
}
.qna_pop>div.card:nth-child(2) {
    width: 450px;
    flex-shrink: 0;
}
.qna_pop .replyCard {
    position: sticky;
    top: 1rem;
}
.fixedCommentList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.commentSearch {
    padding: 0 1rem;
    margin: 15px 0;
}
.commentSearch_input {
    background-color: var(--input-bg);
    border: 1px solid #cccccc82;
    outline: none;
    height: 32px;
    width: 100%;
    border-radius: 30px;
    padding: 0 60px 0 40px;
}
.commentSearch_input+i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--icon-color);
    font-size: 13px;
}
.commentSearch button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.commentList_addFile+.commentList_addFile {
    margin-top: 5px;
}
.commentList_addFile a {
    color: #403464;
}
.commentList_addFile a:hover {
    color: #009EFF;
}
.commentList_addFile:last-child {
    margin-bottom: 10px;
}
.commentList_addFile i[class*="download"] {
    margin-right: 5px;
}
#commentList {
    overflow-y: auto;
    padding: 0 1rem;
}
#commentList>li {
    padding-bottom: 7px;
}
.newComment_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--input-border);
    justify-content: space-between;
    padding: 0 1rem 1rem;
}
.newComment_bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 10px;
    padding: 5px 0;
}
.newComment_bot .select2 {
    max-width: 120px;
    min-width: 120px;
    flex-shrink: 0;
}
.newComment_bot .select2 .select2-selection {
    border-radius: 5px;
    padding-left: 15px;
}
.newComment_row textarea {
    padding: 15px 5px;
    outline: none;
    min-height: 32px;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    overflow-y: hidden;
    resize: none;
    background-color: var(--card-bg);
}
.comment_header {
    display: flex;
    justify-content: space-between;
}
.comment_button_group {
    display: flex;
    gap: 10px;
}
.comment_button_group button {
    background: transparent;
}
.comment_button_group button i[class*="pencil"] {
    color: var(--yellow);
}
.comment_button_group button i[class*="trash"] {
    color: #e97968;
}
.reply_button {
    color: var(--indigo);
    text-decoration: underline;
}
.comment_writer {
    font-weight: 600;
}
.comment_date {
    color: #707379;
}
.current_comment {
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    padding: 5px 10px;
    margin: 7px 0;
    display: flex;
    align-items: center;
    min-height: 32px;
    border-radius: 5px;
}
.current_comment>p {
    word-break: break-all;
    line-height: 1.5;
    font-size: 12px;
}
.atMention {
    background: #eee;
    border-radius: 20px;
    padding: 2px 7px;
    font-size: .9em;
    color: #777;
    font-weight: 500;
    margin-right: 5px;
}
.attachedFile[type="file"] {
    display: none;
}
.attachedFile+i.icon-attachment {
    color: var(--icon-color);
}
.fileList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
}
.fileList .delete {
    margin-left: 5px;
}
.fileList .filebox {
    display: flex;
}
@media (max-width: 850px) {
    .qna_pop {
        flex-direction: column;
    }
    .qna_pop>div.card:nth-child(2) {
        width: 100%;
    }
}

/* AUI */
.auiCard {
    flex-grow: 1;
    height: 100%;
}
.auiCard .card-body {
    height: 100%;
}
.aui-grid-paging-panel {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.aui-grid-paging-panel .aui-grid-paging-number {
    border: none!important;
    font-size: 11px!important;
    font-weight: 400!important;
    min-width: auto!important;
    margin: 0 2px!important;
    line-height:initial!important;
    padding: 3px 5px!important;
    border-radius: 3px!important;
}
.aui-grid-paging-panel .aui-grid-paging-number-selected {
    background-color: #1c2e37!important;
}
.aui-grid-paging-row-count-select {
    margin: 0 0 0 10px!important;
    background: #fff!important;
}
.aui-grid-paging-panel .aui-grid-paging-info-text {
    margin: 0 10px 0 0!important;
}
.table-swap_button {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-swap_button>button>i {
    font-size: 1rem;
}
@media (max-width: 991px) {
    .table-swap_button {
        width: 100%;
        flex-direction: row;
    }
    .table-swap_button i {
        transform: rotate(90deg);
    }
}

/* select2 */
.select2-container--default .select2-selection--single {
    border:1px solid var(--input-border);
}
[data-topbar=dark] .select2-container--default .select2-selection--single .select2-selection__clear {
    color: var(--header-item-color);
}
.select2-selection--multiple::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.35);
}

/* dataTable */
.dt-buttons .dt-button:not(.button-page-length) {
    border: 1px solid var(--input-border);
    background: #f3f6f9;
    color: var(--dark);
    padding: 3px 10px;
    font-size: 11px;
    margin-bottom: .333em;
}
[data-mode=dark] .dt-buttons .dt-button {
    background: #282b2e;
    color: var(--body-color);
}

/* 댓글 알림창 alarmMsg */
.alarmMsg .select2-container--default .select2-selection--single {
    border: none;
}
.alarmMsg-container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1049;
}
.alarmMsg {
    width: 300px;
    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    margin: 5px;
    border-radius: 10px;
    transition: all .5s;
    transform: translateX(350px);
}
[data-mode=dark] .alarmMsg {
    background: var(--card-bg);
    border: 1px solid rgba(255,255,255,.3);
}
.alarmMsg.show {
    transform: translateX(0);
}
.alarmMsg_header {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 0 20px;
}
.alarmMsg_sender {
    font-weight: 600;
}
.alarmMsg_close {
    width: 10px;
    height: 10px;
    background: url('/assets/img/icons/close.png') no-repeat center/contain;
    cursor: pointer;
}
[data-mode=dark] .alarmMsg_close {
    background: url('/assets/img/icons/close_w.png') no-repeat center/contain;
}
.alarmMsg_content {
    padding: 12px 15px 12px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.alarmMsg_footer {
    border-top: 1px solid #cccccc82;
    padding:  7px 13px 7px 20px;
    justify-content: space-between;
}
.alarmMsg_footer input {
    width: 100%;
}
.alarmMsg_Comment {
    outline: none;
    width: 100%;
    line-height: 1.5;
    border: 0;
    resize: none;
}
[data-mode=dark] .alarmMsg_Comment {
    background: var(--card-bg);
    color: var(--body-color);
}
.alarmMsg_footer_row {
    display: flex;
    justify-content: space-between;
}
.alarmMsg_footer_row .select2 {
    max-width: 110px;
    min-width: 110px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 10px;
}
.alarmMsg_footer_row input[type=file]  {
    display: none;
}
.alarmMsg_footer_row input+i.icon-attachment {
    color: #00000082;
}
.alarmMsg_fileList .filebox {
    display: flex;
    gap: 10px;
    color: #677BAC;
}
.alarmMsg_fileList .filebox:last-child {
    margin-bottom: 7px;
}

.input-group-inputs {
    width: 1%;
    margin-left: -1px;
    border: 1px solid #ccc;
    flex-grow: 1;
}
.input-group-inputs input.form-control {
    margin-left: 0;
    border: 0;
}
.input-group-inputs input.form-control:not(:first-child) {
    border-top: 1px solid #ccc;
}
.text-underline {
    text-decoration: underline;
}
.btn-swap {
    font-size: 21px;
}
.image-edit {
    border: 1px solid #bdbdbd;
    height: 100%;
}
@media (max-width: 991px) {
    .image-edit {
        min-height: 350px;
    }
    .btn-swap {
        transform: rotate(90deg);
    }
}

/* daterange-single */
.form-control .daterange-single {
    outline: none;
    text-align: center;
    background: var(--input-bg);
    color: inherit;
}

/* input type="time" */
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator:hover {
    filter: invert(60%) sepia(100%) saturate(1854%) hue-rotate(3deg) brightness(107%) contrast(106%);
}
[data-mode="dark"] input[type="time"]::-webkit-calendar-picker-indicator,
[data-mode="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(1000%);
}

/* input type="month" */
input[type="month"]::-webkit-calendar-picker-indicator {
    background: url('/assets/img/icons/calendar.png') center center /contain;
    z-index: 1;
    cursor: pointer;
}
.page-content [type="month"].form-control {
    display: block;
}

/* input file image */
.input-thumb-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2px;
    font-size: 11px;
}
.input-thumb-close:hover {
    color: red;
}

/* 전체화면 */
.fullscreenSection {
    overflow: auto;
}

/* input highlight 강조 */
.input-highlight {
    background-color: var(--input-highlight)!important;
}
[data-mode="dark"] input:read-only {
    background-color: transparent;
    color: var(--body-color);
}