@charset "UTF-8";
@import url(variables.css);

/***** FONT SETTING *****/
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansKR-Regular.woff2') format('woff2'),
		url('../font/NotoSansKR-Regular.woff') format('woff'),
		url('../font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 500;
	src: url('../font/NotoSansKR-Medium.woff2') format('woff2'),
		url('../font/NotoSansKR-Medium.woff') format('woff'),
		url('../font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
		url('../font/NotoSansKR-Bold.woff') format('woff'),
		url('../font/NotoSansKR-Bold.otf') format('opentype');
}

/***** RESET *****/
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
	font-family: 'NotoSans', -apple-system, sans-serif;
	font-size: var(--font-size_default);
	font-weight: var(--font-weight_default);
	line-height: var(--font-lineHeight_default);
	color: var(--text-color_default);
	min-height: 100vh;
}
body { overflow-y:  scroll; }
ul, ol, li { list-style: none; }
table { width: 100%; table-layout: fixed; border-collapse: collapse; }
img, picture { display: inline-block; max-width: 100%; }
strong, b { font-weight: var(--font-bolder); }
a, label { font: inherit; color: inherit; text-decoration: none; cursor: pointer; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration: none; }
input, textarea, select, button { font: inherit; color: inherit; border: 0; }
textarea { resize: none; overflow-x: hidden; overflow-y: auto; outline: 0; }
select{ -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; }
select::-ms-expand{ display: none; }
button { overflow: visible; border: 0; background: transparent none; box-shadow: none; cursor: pointer; }
legend, caption { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }
*:focus:not(:focus-visible), *:active { outline: none; }

input::-webkit-input-placeholder { color: var(--text-color_placeholder); }
input:-ms-input-placeholder { color: var(--text-color_placeholder); }
input::placeholder { color: var(--text-color_placeholder); }

::-webkit-scrollbar { width: 6px; height: 8px; }
::-webkit-scrollbar-track { background: #E5E5E5; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #BEC7C8; border-radius: 10px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-color_default);
    -webkit-box-shadow: inset 0 0 0 1000px var(--fill-color_default);
    box-shadow: inset 0 0 0 1000px var(--fill-color_default);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: var(--text-color_default);
    -webkit-box-shadow: inset 0 0 0 1000px var(--fill-color_default);
    box-shadow: inset 0 0 0 1000px var(--fill-color_default);
}

body.scrollFix { overflow: hidden; }
body.scrollFix #header,
body.scrollFix #wrapper { padding-right: 6px; } /* 6px: 스크롤 넓이 */


/***** COLOR *****/
.colorDark	  { color: var(--text-color_dark)       !important; }
.colorBasic   { color: var(--text-color_default)    !important; }
.colorGrey    { color: var(--text-color_sub)        !important; }
.colorRed     { color: var(--text-color_red)        !important; }
.colorPoint   { color: var(--text-color_point)      !important; }
.colorPoint02 { color: var(--text-color_secondary)  !important; }

.bgGray01   { background-color: var(--gray-10)               !important; }
.bgGray02   { background-color: var(--gray-20)               !important; }
.bgRed      { background-color: var(--color-red)             !important; }
.bgPoint    { background-color: var(--fill-color_point)      !important; }
.bgPoint02  { background-color: var(--fill-color_secondary)  !important; }

/***** BORDER *****/
.bd0      { border:        0 !important;}
.bt0      { border-top:    0 !important;}
.br0      { border-right:  0 !important;}
.bb0      { border-bottom: 0 !important;}
.bl0      { border-left:   0 !important;}
.bt1      { border-top:    1px solid var(--divider-color) !important;}
.br1      { border-right:  1px solid var(--divider-color) !important;}
.bb1      { border-bottom: 1px solid var(--divider-color) !important;}
.bl1      { border-left:   1px solid var(--divider-color) !important;}

/***** DISPLAY *****/
.srOnly { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }
.hide   { display: none !important; }
.flex   { display: flex !important; }
.flexCenter	 { display: flex; align-items: center; justify-content: center; }
.flexBetween { display: flex; align-items: center; justify-content: space-between; }
.flex1	{ flex: 1 !important; }

.w100   { width: 100% !important; max-width: initial !important; }
.h100   { height: 100% !important; max-height: initial !important; }
.h60    { height: 60px  !important; }
.h200   { height: 200px !important; }
.h300   { height: 300px !important; }
.fit    { width: 100% !important; height: 100% !important; max-width: initial !important; max-height: initial !important; }

.scroll  { overflow: auto; }
.scrollX { overflow-x: auto;   overflow-y: hidden; }
.scrollY { overflow-x: hidden; overflow-y: auto; }

/***** TEXT *****/
.fs13 { font-size: 13px !important; line-height: 16px; }
.fs14 { font-size: 14px !important; line-height: 17px; }
.fs15 { font-size: 15px !important; line-height: 17px; }
.fs16 { font-size: 16px !important; line-height: 20px; }
.fs18 { font-size: 18px !important; line-height: 22px; }

.tal { text-align: left   !important; }
.tac { text-align: center !important; }
.tar { text-align: right  !important; }

.allThLeft th,   .allTdLeft td   { text-align: left   !important; }
.allThCenter th, .allTdCenter td { text-align: center !important; }
.allThRight th,  .allTdRight td  { text-align: right  !important; }

.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: baseline; }

.bolder  { font-weight: var(--font-bolder)  !important; }
.bold    { font-weight: var(--font-bold)    !important; }
.regular { font-weight: var(--font-regular) !important; }

.wordKeep  { word-break: keep-all  !important;}
.wordBreak { word-break: break-all !important;}

.ellipsis, .ellipsisToggle {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ellipsis2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}


/***** GAP *****/
.gap0  { gap: 0     !important; }
.gap5  { gap: 5px   !important; }
.gap10 { gap: 10px  !important; }
.gap15 { gap: 15px  !important; }
.gap20 { gap: 20px  !important; }
.gap25 { gap: 25px  !important; }
.gap30 { gap: 30px  !important; }
.gap35 { gap: 35px  !important; }
.gap40 { gap: 40px  !important; }
.gap45 { gap: 45px  !important; }
.gap50 { gap: 50px  !important; }

.mg0  { margin: 0 !important; }
.mX0  { margin-left: 0 !important; margin-right:  0 !important; }
.mY0  { margin-top:  0 !important; margin-bottom: 0 !important; }

.mt0  { margin-top: 0         !important; }
.mt5  { margin-top: 5px       !important; }
.mt10 { margin-top: 10px      !important; }
.mt15 { margin-top: 15px      !important; }
.mt20 { margin-top: 20px      !important; }
.mt30 { margin-top: 30px      !important; }

.mb0  { margin-bottom: 0      !important; }
.mb5  { margin-bottom: 5px    !important; }
.mb10 { margin-bottom: 10px   !important; }
.mb15 { margin-bottom: 15px   !important; }
.mb20 { margin-bottom: 20px   !important; }
.mb30 { margin-bottom: 30px   !important; }

.mr0  { margin-right: 0       !important; }
.mr10 { margin-right: 10px    !important; }
.mr15 { margin-right: 15px    !important; }
.mr20 { margin-right: 20px    !important; }

.ml0  { margin-left: 0        !important; }
.ml10 { margin-left: 10px     !important; }
.ml15 { margin-left: 15px     !important; }
.ml20 { margin-left: 20px     !important; }

.pd0  { padding: 0 !important; }
.pX0  { padding-left: 0 !important; padding-right:  0 !important; }
.pY0  { padding-top:  0 !important; padding-bottom: 0 !important; }

.pt0  { padding-top: 0       !important; }
.pt5  { padding-top: 5px     !important; }
.pt10 { padding-top: 10px    !important; }
.pt15 { padding-top: 15px    !important; }
.pt20 { padding-top: 20px    !important; }
.pt25 { padding-top: 25px    !important; }
.pt30 { padding-top: 30px    !important; }

.pb0  { padding-bottom: 0    !important; }
.pb5  { padding-bottom: 5px  !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }

.pr0  { padding-right: 0     !important; }
.pr10 { padding-right: 10px  !important; }
.pr15 { padding-right: 15px  !important; }
.pr20 { padding-right: 20px  !important; }

.pl0  { padding-left: 0      !important; }
.pl10 { padding-left: 10px   !important; }
.pl15 { padding-left: 15px   !important; }
.pl20 { padding-left: 20px   !important; }