<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="~{common/layout/fragments/config.html}" />
</head>

<body>
  <div class="popup-wrapper">
    <header class="popup-header">
      <th:block layout:fragment="header" />
    </header>

    <div class="popup-content">
      <th:block layout:fragment="main" />
    </div>

    <div class="popup-footer">
      <th:block layout:fragment="footer" />
    </div>
  </div>

  <th:block layout:fragment="modal" />
  <div id="loader-wrap">
    <span class="loader"></span>
  </div>
<!-- 공통 js -->
<th:block th:replace="~{common/js.html}" />
<!-- AUIGrid -->
<th:block th:replace="~{common/grid.html}" />
<!-- script -->
<th:block layout:fragment="script" />
</body>
</html>
