<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<th:block layout:fragment="title">
  <title th:text="${subTitle}"></title>
</th:block>

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/plugins/flatpickr.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>

</head>
</html>
