<html xmlns:th="http://www.thymeleaf.org">

<div id="footer">
  <div class="footer-top"><strong>OFFICE SERVICE HUB</strong></div>
  <div class="footer-cont">
    <ul class="flex-col h-full">
      <li><strong>(주)퍼시스</strong></li>
      <li class="mt-2xs">Copyright 2026 Fursys Inc.<br>All right reserved.</li>
      <li class="flex items-end flex-1"><a href="https://www.fursys.com/privacy" target="_blank" class="btn link">개인정보 처리방침</a></li>
    </ul>
    <ul>
      <li>대표이사: 배상돈, 박광호</li>
      <li>사업자번호: 215-81-20534</li>
      <li>주소: 138-857 / 서울특별시 송파구 오금로 311 (오금동 45-1) 퍼시스 빌딩</li>
      <li>대표번호: 02-443-9999</li>
    </ul>
    <ul>
      <li>A/S 대표번호: 1588-1244</li>
      <li>매주 월~금요일: 09:30~17:30</li>
      <li>(점심시간 12:30~13:30 / 토,일,공휴일 상담실 휴무)</li>
    </ul>
  </div>
</div>

</html>