<!DOCTYPE html>
<body>


	<div class="tableControls">
		<div class="selectBox">
			<button type="button" class="btnSelect" title="페이지당 행 개수 선택">10개</button>
			<div class="optionList">
				<div class="scrollY">
					<button type="button" class="active">10개</button>
					<button type="button">20개</button>
					<button type="button">50개</button>
				</div>
			</div>
		</div>

		<div class="pagination">
			<button type="button" class="first" disabled><span class="srOnly">처음 페이지</span></button>
			<button type="button" class="prev" disabled><span class="srOnly">이전 페이지</span></button>
			<div class="pageLinks">
				<button type="button" class="active"><span class="srOnly">현재 페이지</span>1</button>
				<button type="button">2</button>
				<button type="button">3</button>
				<button type="button">4</button>
				<button type="button">5</button>
			</div>
			<button type="button" class="next"><span class="srOnly">다음 페이지</span></button>
			<button type="button" class="last"><span class="srOnly">마지막 페이지</span></button>
		</div>
	</div>


</body>
</html>