<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{common/layout/config.html}" />
</head>
<body class="scroll-responsive">
  <div class="full-page login-page">
    <h1 class="main-logo"><strong>OFFICE SERVICE HUB</strong></h1>

    <div class="login-content">
      <div class="login-box layout-column gap-2xl">
        <div class="title-area">
          <h2 class="page-title">비밀번호 변경 안내</h2>
          <p class="page-description">최초 발급된 비밀번호를 사용 중입니다.<br>보안을 위해 새 비밀번호로 변경해 주세요.</p>
        </div>

        <div class="layout-column gap-sm">
          <div class="form-group">
            <label for="form01" class="text-label">현재 비밀번호</label>
            <div class="form-box error"><!-- 항목 미입력 시, .form-box < .error 추가 -->
              <input type="password" id="form01" autocomplete="off" placeholder="비밀번호 입력" autofocus>
            </div>
            <p class="text-error">현재 비밀번호를 입력해 주세요.</p>
          </div>

          <!--
            [비밀번호 조건 가이드]
            * 미충족: .form-hint-list li + .error, .form-box + .error
            * 미충족 없음: .form-box .error 제거
            * 충족: .form-hint-list li + .success
            * .form-box에 .error 있을 경우: .text-error(에러문구) 노출
          -->
          <div class="form-group">
            <label for="form02" class="text-label">새 비밀번호</label>
            <div class="form-box error">
              <input type="password" id="form02" autocomplete="off" placeholder="새 비밀번호 입력">
            </div>
            <ul class="form-hint-list">
              <li class="error"><i class="icon"></i>8-15자</li>
              <li class="success"><i class="icon"></i>영문 대/소문자</li>
              <li><i class="icon"></i>숫자</li>
              <li><i class="icon"></i>특수문자</li>
            </ul>
            <p class="text-error">3가지 이상 조합이 필요합니다.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="form03" class="text-label">새 비밀번호 확인</label>
          <div class="form-box error"><!-- 비밀번호 미일치 시, .form-box < .error 추가 -->
            <input type="password" id="form03" autocomplete="off" placeholder="비밀번호 다시 입력">
          </div>
          <p class="text-error">비밀번호가 일치하지 않습니다.</p>
        </div>

        <div class="btn-area">
          <button type="submit" class="btn dark lg" disabled>비밀번호 변경</button>
        </div>

        <div class="logo-area">
          <div class="mark-logo"><span class="sr-only">FURSYS</span></div>
        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="~{common/layout/js.html}" />
</body>
</html>
