<!-- Custom Select Box Template -->
<template id="selectBox">
  <div class="custom-select">
    <div class="custom-select-trigger">
      <input type="text" class="custom-select-input" readonly placeholder="선택">
      <i class="icon-chevron custom-select-arrow"></i>
    </div>
    <div class="custom-select-dropdown">
      <div class="custom-select-search">
        <input type="text" class="custom-select-search-input" placeholder="검색">
      </div>
      <div class="custom-select-options"></div>
    </div>
  </div>
</template>
