/* 상대 수치 지정 요소 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */
/* font-size, line-height, letter-spacing
border-radius
padding */

/* @media 1200이상 lg ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

/* 패딩 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

/* 섹션 : 상하여백 section : padding ===== ===== ===== ===== ===== ===== ===== ===== */

/* 0. 메인페이지 배너 미사용시 타이틀 글자 간격 관리 */
@media (max-width: 991px){
    .index.page-container .group-wrap:first-of-type .padding-section,
    .index.page-container .group-wrap:first-of-type .padding-section.banner-full,
    .index.page-container .group-wrap:first-of-type .padding-section.banner-slide-full {
        padding-top: 0px;
    }
}

/* 1. body-padding-xsmall 기본 : 섹션 상하여백*/
.body-padding-xsmall .main-header-middle {
    height: 70px;
}
.body-padding-xsmall .main-header-middle img {
    max-height: 70px;
}

.body-padding-xsmall .main-header-bottom .container>div>nav,
.body-padding-xsmall .main-header-bottom .container>div>div {
    position: relative;
    height: 50px;
}

.body-padding-xsmall .padding-section {
    padding-top: 0px;
    padding-bottom: 40px;
}
.body-padding-xsmall .margin-half,
.body-padding-xsmall .blog_grid,
.body-padding-xsmall #event_product_list .prod_style *[class^="col-"],
.body-padding-xsmall #productListDiv .prod_style *[class^="col-"] {
    margin-top: 20px;
    margin-bottom: 20px;
}
.body-padding-xsmall .padding-half {
    padding-top: 20px;
    padding-bottom: 20px;
}
.body-padding-xsmall .padding-section:last-child {
    padding-bottom: 40px !important;
}
/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
.body-padding-xsmall .padding-section[class*="bg-"],
.body-padding-xsmall .padding-section[style*="background"],
.body-padding-xsmall .padding-section.page-title-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* 배너, 슬라이더, 메뉴 등 상하여백 text-xsmall */
.body-padding-xsmall .padding-none,
.body-padding-xsmall .padding-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/* 메뉴 + 기본 */
.body-padding-xsmall .halftop-padding-section,
.body-padding-xsmall .padding-menu+.padding-section,
.pagination {
    padding-top: 20px;
}
/* 기본 + 배경 */
.body-padding-xsmall .padding-section+.padding-section[class*="bg-"],
.body-padding-xsmall .padding-section+.padding-section[style*="background"] {
    padding-top: 40px;
}
.body-padding-xsmall .top-padding-section,
.body-padding-xsmall .padding-section:first-child {
    padding-top: 40px !important;
}
/* 절반 */
.body-padding-xsmall .halfbottom-padding-section,
.body-padding-xsmall .padding-section.section-title-padding,
.body-padding-xsmall .prod_event.full-banner,
.body-padding-xsmall .section-title .product-group-title {
    padding-top: 0px;
    padding-bottom: 20px !important;
}
/* 배너, 슬라이더 + 기본 */
.body-padding-xsmall .padding-none+.padding-section,
.body-padding-xsmall .padding-section[class*="bg-"]+.padding-section,
.body-padding-xsmall .padding-section[style*="background"]+.padding-section {
    padding-top: 40px !important;
}

/*-----------------------------*/

/* 2. body-padding-small 기본 : 섹션 상하여백*/
.body-padding-small .main-header-middle {
    height: 85px;
}
.body-padding-small .main-header-middle img {
    max-height: 85px;
}

.body-padding-small .main-header-bottom .container>div>nav,
.body-padding-small .main-header-bottom .container>div>div {
    position: relative;
    height: 55px;
}

.body-padding-small .padding-section {
    padding-top: 0px;
    padding-bottom: 50px;
}
.body-padding-small .margin-half,
.body-padding-small .blog_grid,
.body-padding-small #event_product_list .prod_style *[class^="col-"],
.body-padding-small #productListDiv .prod_style *[class^="col-"] {
    margin-top: 25px;
    margin-bottom: 25px;
}
.body-padding-small .padding-half {
    padding-top: 25px;
    padding-bottom: 25px;
}
.body-padding-small .padding-section:last-child {
    padding-bottom: 50px !important;
}
/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
.body-padding-small .padding-section[class*="bg-"],
.body-padding-small .padding-section[style*="background"],
.body-padding-small .padding-section.page-title-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* 배너, 슬라이더, 메뉴 등 상하여백 없음 */
.body-padding-small .padding-none,
.body-padding-small .padding-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/* 메뉴 + 기본 */
.body-padding-small .halftop-padding-section,
.body-padding-small .padding-menu+.padding-section,
.pagination {
    padding-top: 25px;
}
/* 기본 + 배경 */
.body-padding-small .padding-section+.padding-section[class*="bg-"],
.body-padding-small .padding-section+.padding-section[style*="background"] {
    padding-top: 50px;
}
.body-padding-small .top-padding-section,
.body-padding-small .padding-section:first-child {
    padding-top: 50px !important;
}
/* 절반 */
.body-padding-small .halfbottom-padding-section,
.body-padding-small .padding-section.section-title-padding,
.body-padding-small .prod_event.full-banner,
.body-padding-small .section-title .product-group-title {
    padding-top: 0px;
    padding-bottom: 25px !important;
}
/* 배너, 슬라이더 + 기본 */
.body-padding-small .padding-none+.padding-section,
.body-padding-small .padding-section[class*="bg-"]+.padding-section,
.body-padding-small .padding-section[style*="background"]+.padding-section {
    padding-top: 50px !important;
}

.body-padding-small .area-title {
    padding-bottom: 14px !important;
}

/*-----------------------------*/

/* 3. body-padding-medium 기본 : 섹션 상하여백*/
.body-padding-medium .main-header-middle {
    height: 100px;
}
.body-padding-medium .main-header-middle img {
    max-height: 100px;
}

.body-padding-medium .main-header-bottom .container>div>nav,
.body-padding-medium .main-header-bottom .container>div>div {
    position: relative;
    height: 60px;
}

.body-padding-medium .padding-section {
    padding-top: 0px;
    padding-bottom: 60px;
}
.body-padding-medium .margin-half,
.body-padding-medium .blog_grid,
.body-padding-medium #event_product_list .prod_style *[class^="col-"],
.body-padding-medium #productListDiv .prod_style *[class^="col-"] {
    margin-top: 30px;
    margin-bottom: 30px;
}
.body-padding-medium .padding-half {
    padding-top: 30px;
    padding-bottom: 30px;
}
.body-padding-medium .padding-section:last-child {
    padding-bottom: 20px;
}
/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
.body-padding-medium .padding-section[class*="bg-"],
.body-padding-medium .padding-section[style*="background"],
.body-padding-medium .padding-section.page-title-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
/* 배너, 슬라이더, 메뉴 등 상하여백 없음 */
.body-padding-medium .padding-none,
.body-padding-medium .padding-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/* 메뉴 + 기본 */
.body-padding-medium .halftop-padding-section,
.body-padding-medium .padding-menu+.padding-section,
.pagination {
    padding-top: 30px;
}
.body-padding-medium .top-padding-section,
.body-padding-medium .padding-section:first-child {
    padding-top: 60px !important;
}
/* 절반 */
.body-padding-medium .halfbottom-padding-section,
.body-padding-medium .padding-section.section-title-padding,
.body-padding-medium .section-title .product-group-title {
    padding-top: 0px;
    padding-bottom: 30px !important;
}
/* 기본 + 배경 */
.body-padding-medium .padding-section+.padding-section[class*="bg-"],
.body-padding-medium .padding-section+.padding-section[style*="background"] {
    padding-top: 60px;
}
/* 배너, 슬라이더 + 기본 */
.body-padding-medium .padding-none+.padding-section,
.body-padding-medium .padding-section[class*="bg-"]+.padding-section,
.body-padding-medium .padding-section[style*="background"]+.padding-section {
    padding-top: 60px !important;
}

.body-padding-medium .area-title {
    padding-bottom: 18px !important;
}

/*-----------------------------*/

/* 4. body-padding-large 기본 : 섹션 상하여백*/
.body-padding-large .main-header-middle {
    height: 115px;
}
.body-padding-large .main-header-middle img {
    max-height: 115px;
}

.body-padding-large .main-header-bottom .container>div>nav,
.body-padding-large .main-header-bottom .container>div>div {
    position: relative;
    height: 65px;
}

.body-padding-large .padding-section {
    padding-top: 0px;
    padding-bottom: 70px;
}
.body-padding-large .margin-half,
.body-padding-large .padding-half
.body-padding-large .blog_grid,
.body-padding-large #event_product_list .prod_style *[class^="col-"],
.body-padding-large #productListDiv .prod_style *[class^="col-"] {
    margin-top: 35px;
    margin-bottom: 35px;
}
.body-padding-large .padding-half {
    padding-top: 35px;
    padding-bottom: 35px;
}
.body-padding-large .padding-section:last-child {
    padding-bottom: 70px !important;
}
/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
.body-padding-large .padding-section[class*="bg-"],
.body-padding-large .padding-section[style*="background"],
.body-padding-large .padding-section.page-title-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* 배너, 슬라이더, 메뉴 등 상하여백 없음 */
.body-padding-large .padding-none,
.body-padding-large .padding-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/* 메뉴 + 기본 */
.body-padding-large .halftop-padding-section,
.body-padding-large .padding-menu+.padding-section,
.pagination {
    padding-top: 35px;
}
/* 기본 + 배경 */
.body-padding-large .padding-section+.padding-section[class*="bg-"],
.body-padding-large .padding-section+.padding-section[style*="background"] {
    padding-top: 70px;
}
.body-padding-large .top-padding-section,
.body-padding-large .padding-section:first-child {
    padding-top: 70px !important;
}
/* 절반 */
.body-padding-large .halfbottom-padding-section,
.body-padding-large .padding-section.section-title-padding,
.body-padding-large .section-title .product-group-title {
    padding-top: 0px;
    padding-bottom: 35px !important;
}
/* 배너, 슬라이더 + 기본 */
.body-padding-large .padding-none+.padding-section,
.body-padding-large .padding-section[class*="bg-"]+.padding-section,
.body-padding-large .padding-section[style*="background"]+.padding-section {
    padding-top: 70px !important;
}

.body-padding-large .area-title {
    padding-bottom: 22px !important;
}

/*-----------------------------*/

/* 5. body-padding-xlarge 기본 : 섹션 상하여백*/
.body-padding-xlarge .main-header-middle {
    height: 130px;
}
.body-padding-xlarge .main-header-middle img {
    max-height: 130px;
    max-width: 180px;
}

.body-padding-xlarge .main-header-bottom .container>div>nav,
.body-padding-xlarge .main-header-bottom .container>div>div {
    position: relative;
    height: 60px; /* 60으로 고정 */
}

.body-padding-xlarge .padding-section {
    padding-top: 0px;
    padding-bottom: /*80px*/50px;
}
.body-padding-xlarge .margin-half,
.body-padding-xlarge .blog_grid,
.body-padding-xlarge #event_product_list .prod_style *[class^="col-"],
.body-padding-xlarge #productListDiv .prod_style *[class^="col-"] {
    margin-top: 40px;
    margin-bottom: 40px;
}
.body-padding-xlarge .padding-half {
    padding-top: 40px;
    padding-bottom: 40px;
}
.body-padding-xlarge .padding-section:last-child {
    padding-bottom: 80px;
}
/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
.body-padding-xlarge .padding-section[class*="bg-"],
.body-padding-xlarge .padding-section[style*="background"],
.body-padding-xlarge .padding-section.page-title-padding {
    padding-top: /*80px*/ 70px;
    padding-bottom: /*80px*/ 40px;
}
/* 배너, 슬라이더, 메뉴 등 상하여백 없음 */
.body-padding-xlarge .padding-none,
.body-padding-xlarge .padding-menu {
    padding-top: 0px !important;
    padding-bottom: 0px;
}
/* 메뉴 + 기본 */
.body-padding-xlarge .halftop-padding-section,
.body-padding-xlarge .padding-menu+.padding-section,
.pagination {
    padding-top: 40px;
}
/* 기본 + 배경 */
.body-padding-xlarge .padding-section+.padding-section[class*="bg-"],
.body-padding-xlarge .padding-section+.padding-section[style*="background"] {
    padding-top: 80px;
}
.body-padding-xlarge .top-padding-section,
.body-padding-xlarge .padding-section:first-child {
    padding-top: 80px;
}
/* 절반 */
.body-padding-xlarge .halfbottom-padding-section {
    padding-top: 0px;
    padding-bottom: 40px;
}
.body-padding-xlarge .padding-section.section-title-padding,
.body-padding-xlarge .section-title .product-group-title {
    padding-top: 65px;
    padding-bottom: 25px;
}
/* 배너, 슬라이더 + 기본 */
.body-padding-xlarge .padding-none+.padding-section,
.body-padding-xlarge .padding-section[class*="bg-"]+.padding-section,
.body-padding-xlarge .padding-section[style*="background"]+.padding-section {
    padding-top: 80px;
}

.body-padding-xlarge .area-title {
    padding-bottom: /*26px*/ 12px!important;
}
.body-padding-xlarge .padding-section.padding-none {
    padding-top: 0!important;
    padding-bottom: 0;
}

@media (max-width: 991px) {
	/* 5-1. body-padding-xlarge 기본 : 섹션 상하여백*/
	.body-padding-xlarge .main-header-middle {
	    height: 130px;
	}
	.body-padding-xlarge .main-header-middle img {
	    max-height: 130px;
	}

	.body-padding-xlarge .main-header-bottom .container>div>nav,
	.body-padding-xlarge .main-header-bottom .container>div>div {
	    position: relative;
	    height: 70px;
	}

	.body-padding-xlarge .padding-section {
	    padding-top: 0px;
	    padding-bottom: /*80px*/38px;
	}
	.body-padding-xlarge .margin-half,
	.body-padding-xlarge .blog_grid,
	.body-padding-xlarge #event_product_list .prod_style *[class^="col-"],
	.body-padding-xlarge #productListDiv .prod_style *[class^="col-"] {
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.body-padding-xlarge .padding-half {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.body-padding-xlarge .padding-section:last-child {
	    padding-bottom: 80px;
	}
	/* 배경색 & 배경이미지 & 페이지타이틀 : 섹션 상하여백 있음 */
	.body-padding-xlarge .padding-section[class*="bg-"],
	.body-padding-xlarge .padding-section[style*="background"],
	.body-padding-xlarge .padding-section.page-title-padding {
	    padding-top: /*80px 70px; 38px;*/ 30px;
	    padding-bottom: /*80px 40px 25px;*/ 30px;
	}
	/* 배너, 슬라이더, 메뉴 등 상하여백 없음 */
	.body-padding-xlarge .padding-none,
	.body-padding-xlarge .padding-menu {
	    padding-top: 0px !important;
	    padding-bottom: 0px;
	}
	/* 메뉴 + 기본 */
	.body-padding-xlarge .halftop-padding-section,
	.body-padding-xlarge .padding-menu+.padding-section,
	.pagination {
	    padding-top: 40px;
	}
	/* 기본 + 배경 */
	.body-padding-xlarge .padding-section+.padding-section[class*="bg-"],
	.body-padding-xlarge .padding-section+.padding-section[style*="background"] {
	    padding-top: 80px;
	}
	.body-padding-xlarge .top-padding-section,
	.body-padding-xlarge .padding-section:first-child {
	    padding-top: 80px !important;
	}
	/* 절반 */
	.body-padding-xlarge .halfbottom-padding-section {
	    padding-top: 0px;
	    padding-bottom: 40px;
	}
	.body-padding-xlarge .padding-section.section-title-padding,
	.body-padding-xlarge .section-title .product-group-title {
	    padding-top: 35px;
	    padding-bottom: 15px !important;
	}
	/* 배너, 슬라이더 + 기본 */
	.body-padding-xlarge .padding-none+.padding-section,
	.body-padding-xlarge .padding-section[class*="bg-"]+.padding-section,
	.body-padding-xlarge .padding-section[style*="background"]+.padding-section {
	    padding-top: 35px !important;
	}

	/*.body-padding-xlarge .area-title {
	    padding-bottom: 20px !important;
	}*/
	.body-padding-xlarge .padding-section.p-0,
	.body-padding-xlarge .padding-section.padding-none {
	    padding-top: 0!important;
	    padding-bottom: 0!important;
	}
}

/* 테이블 : 여백 table : padding ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

.body-padding-xsmall .table>tbody>tr>td,
.body-padding-xsmall .table>tfoot>tr>td,
.body-padding-xsmall .table>thead>tr>td,
.body-padding-xsmall .data_none {
    padding: 20px 4px;
}
.body-padding-xsmall .table>tbody>tr>th,
.body-padding-xsmall .table>tfoot>tr>th,
.body-padding-xsmall .table>thead>tr>th {
    padding: 10px 4px;
}

.body-padding-small .table>tbody>tr>td,
.body-padding-small .table>tfoot>tr>td,
.body-padding-small .table>thead>tr>td,
.body-padding-small .data_none {
    padding: 25px 6px;
}
.body-padding-small .table>tbody>tr>th,
.body-padding-small .table>tfoot>tr>th,
.body-padding-small .table>thead>tr>th {
    padding: 12px 6px;
}

.body-padding-medium .table>tbody>tr>td,
.body-padding-medium .table>tfoot>tr>td,
.body-padding-medium .table>thead>tr>td,
.body-padding-medium .data_none {
    padding: 30px 8px;
}
.body-padding-medium .table>tbody>tr>th,
.body-padding-medium .table>tfoot>tr>th,
.body-padding-medium .table>thead>tr>th {
    padding: 15px 8px;
}

.body-padding-large .table>tbody>tr>td,
.body-padding-large .table>tfoot>tr>td,
.body-padding-large .table>thead>tr>td,
.body-padding-large .data_none {
    padding: 35px 10px;
}
.body-padding-large .table>tbody>tr>th,
.body-padding-large .table>tfoot>tr>th,
.body-padding-large .table>thead>tr>th {
    padding: 17px 10px;
}

.body-padding-xlarge .table>tbody>tr>td,
.body-padding-xlarge .table>tfoot>tr>td,
.body-padding-xlarge .table>thead>tr>td,
.body-padding-xlarge .data_none {
    padding: 40px 12px;
}
.body-padding-xlarge .table>tbody>tr>th,
.body-padding-xlarge .table>tfoot>tr>th,
.body-padding-xlarge .table>thead>tr>th {
    padding: 20px 12px;
}


/* button, label, input, select 여백 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

/* ===================================
    버튼
====================================== */

.body-button-xsmall .btn+.btn {
    margin-left: 2px;
}
.body-button-xsmall .button-vertical-group .btn+.btn {
    margin-left: 0px;
    margin-top: 2px;
}

.body-button-xsmall .form-control-xs,
.body-button-xsmall .btn.btn-xs {
    font-size: 10px;
    height: 23px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 10px;
}
.body-button-xsmall .filter_wrap .filter_list a,
.body-button-xsmall .form-control-sm,
.body-button-xsmall .btn.btn-sm {
    font-size: 11px;
    height: 28px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 13px;
}
.body-button-xsmall .form-control,
.body-button-xsmall .btn,
.body-button-xsmall .btn.btn-md {
    font-size: 12px;
    height: 33px;
    line-height: 31px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 16px;
}
.body-button-xsmall .main-header-middle .menu-center-grow .main-search,
.body-button-xsmall .main-header-middle .menu-center-grow .main-search-btn,
.body-button-xsmall .tab_menu_wrap .tab_menu li,
.body-button-xsmall .page_sub_menu>li>a,
.body-button-xsmall .form-control-lg,
.body-button-xsmall .btn.btn-lg {
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    letter-spacing: -.25px;
    font-weight: 400;
    padding: 0px 19px;
}
.body-button-xsmall .btn.submit-btn,
.body-button-xsmall .form-control-xlg,
.body-button-xsmall .btn.btn-xlg {
    font-size: 14px;
    height: 43px;
    line-height: 41px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 22px;
}
.body-button-xsmall .form-control-xxlg,
.body-button-xsmall .btn.btn-xxlg {
    font-size: 15px;
    height: 48px;
    line-height: 46px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 25px;
}

/* 로그인 그룹 (텍스트) */
.body-button-xsmall .login-group-text a {
    font-size: 10px;
}
/* 메인메뉴 버튼 */
.body-button-xsmall .menu-category-wrap .swiper-wrapper {
    height: 34px !important;
}
.body-button-xsmall .menu-category-wrap .swiper-wrapper a span {
    padding: 0 10px;
    height: 28px;
    line-height: 27px;
    font-size: 13px;
}
.body-button-xsmall .swiper-container-list-menu {
    margin: 0px 22px;
}
.body-button-xsmall .circle-btn .swiper-button-prev,
.body-button-xsmall .circle-btn .swiper-button-next {
    width: 25px !important;
    height: 25px !important;
    top: calc(50% + 10px) !important;
}
.body-button-xsmall .circle-btn .arrow {
    font-size: 10px !important;
    line-height: 25px !important;
}

.body-button-xsmall .btn i {
	margin-top: -2px;
	margin-right: 0.2em;
}

/*---------------------------------------*/

.body-button-small .btn+.btn {
    margin-left: 4px;
}
.body-button-small .button-vertical-group .btn+.btn {
    margin-left: 0px;
    margin-top: 4px;
}

.body-button-small .form-control-xs,
.body-button-small .btn.btn-xs {
    font-size: 11px;
    height: 26px;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 12px !important;
}
.body-button-small .filter_wrap .filter_list a,
.body-button-small .form-control-sm,
.body-button-small .btn.btn-sm {
    font-size: 12px;
    height: 31px;
    line-height: 29px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 15px;
}
.body-button-small .form-control,
.body-button-small .btn,
.body-button-small .btn.btn-md {
    font-size: 13px;
    height: 36px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 18px;
}
.body-button-small .main-header-middle .menu-center-grow .main-search,
.body-button-small .main-header-middle .menu-center-grow .main-search-btn,
.body-button-small .tab_menu_wrap .tab_menu li,
.body-button-small .page_sub_menu>li>a,
.body-button-small .form-control-lg,
.body-button-small .btn.btn-lg {
    font-size: 14px;
    height: 41px;
    line-height: 39px;
    letter-spacing: -.25px;
    font-weight: 400;
    padding: 0px 21px;
}
.body-button-small .btn.submit-btn,
.body-button-small .form-control-xlg,
.body-button-small .btn.btn-xlg {
    font-size: 15px;
    height: 46px;
    line-height: 44px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 24px;
}
.body-button-small .form-control-xxlg,
.body-button-small .btn.btn-xxlg {
    font-size: 16px;
    height: 51px;
    line-height: 49px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 27px;
}

.body-button-small .btn i {
	margin-top: -1px;
	margin-right: 0.2em;
}

/* 로그인 그룹 (텍스트) */
.body-button-small .login-group-text a {
    font-size: 10px;
}
.body-button-small .menu-category-wrap .swiper-wrapper {
    height: 38px !important;
}
.body-button-small .menu-category-wrap .swiper-wrapper a span {
    padding: 0 10px;
    height: 29px;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: -.25px;
}
.body-button-small .swiper-container-list-menu {
    margin: 0px 24px;
}
.body-button-small .circle-btn .swiper-button-prev,
.body-button-small .circle-btn .swiper-button-next {
    width: 29px !important;
    height: 29px !important;
    top: calc(50% + 8px) !important;
}
.body-button-small .circle-btn .arrow {
    font-size: 11px !important;
    line-height: 28px !important;
}

/*---------------------------------------*/

.body-button-medium .btn+.btn {
    margin-left: 6px;
}
.body-button-medium .button-vertical-group .btn+.btn {
    margin-left: 0px;
    margin-top: 6px;
}

.body-button-medium .form-control-xs,

.body-button-medium .btn.btn-xs {
    font-size: 12px;
    height: 29px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 14px;
}
.body-button-medium .filter_wrap .filter_list a,
.body-button-medium .form-control-sm,
.body-button-medium .btn.btn-sm {
    font-size: 13px;
    height: 34px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 17px;
}
.body-button-medium .form-control,
.body-button-medium .btn,
.body-button-medium .btn.btn-md {
    font-size: 14px;
    height: 39px;
    line-height: 37px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 20px;
}
.body-button-medium .main-header-middle .menu-center-grow .main-search,
.body-button-medium .main-header-middle .menu-center-grow .main-search-btn,
.body-button-medium .tab_menu_wrap .tab_menu li,
.body-button-medium .page_sub_menu>li>a,
.body-button-medium .form-control-lg,
.body-button-medium .btn.btn-lg {
    font-size: 15px;
    height: 44px;
    line-height: 42px;
    letter-spacing: -.25px;
    font-weight: 400;
    padding: 0px 23px;
}
.body-button-medium .btn.submit-btn,
.body-button-medium .form-control-xlg,
.body-button-medium .btn.btn-xlg {
    font-size: 16px;
    height: 49px;
    line-height: 47px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 26px;
}
.body-button-medium .form-control-xxlg,
.body-button-medium .btn.btn-xxlg {
    font-size: 17px;
    height: 54px;
    line-height: 52px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 29px;
}

.body-button-medium .btn i {
	margin-top: -1px;
	margin-right: 0.2em;
}

/* 로그인 그룹 (텍스트) */
.body-button-medium .login-group-text a {
    font-size: 11px;
}
/*메인메뉴 높이*/
.body-button-medium .menu-category-wrap .swiper-wrapper {
    height: 42px !important;
}
/*메인메뉴 버튼 크기*/
.body-button-medium .menu-category-wrap .swiper-wrapper a span {
    padding: 0 12px;
    height: 33px;
    line-height: 33px;
    font-size: 15px;
    letter-spacing: -.25px;
}
/*메인메뉴 좌우 여백*/
.body-button-medium .swiper-container-list-menu {
    margin: 0px 26px;
}
.body-button-medium .circle-btn .swiper-button-prev,
.body-button-medium .circle-btn .swiper-button-next {
    width: 33px !important;
    height: 32px !important;
    top: calc(50% + 6px) !important;
}
.body-button-medium .circle-btn .arrow {
    font-size: 12px !important;
    line-height: 32px !important;
}

/*---------------------------------------*/

.body-button-large .btn+.btn {
    margin-left: 8px;
}
.body-button-large .button-vertical-group .btn+.btn {
    margin-left: 0px;
    margin-top: 8px;
}

.body-button-large .form-control-xs,
.body-button-large .btn.btn-xs {
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 16px;
}
.body-button-large .filter_wrap .filter_list a,
.body-button-large .form-control-sm,
.body-button-large .btn.btn-sm {
    font-size: 14px;
    height: 37px;
    line-height: 35px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 19px;
}
.body-button-large .form-control,
.body-button-large .btn,
.body-button-large .btn.btn-md {
    font-size: 15px;
    height: 42px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0px 22px;
}
.body-button-large .main-header-middle .menu-center-grow .main-search,
.body-button-large .main-header-middle .menu-center-grow .main-search-btn,
.body-button-large .tab_menu_wrap .tab_menu li,
.body-button-large .page_sub_menu>li>a,
.body-button-large .form-control-lg,
.body-button-large .btn.btn-lg {
    font-size: 16px;
    height: 47px;
    line-height: 45px;
    letter-spacing: -.25px;
    font-weight: 400;
    padding: 0px 25px;
}
.body-button-large .btn.submit-btn,
.body-button-large .form-control-xlg,
.body-button-large .btn.btn-xlg {
    font-size: 17px;
    height: 52px;
    line-height: 50px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 28px;
}
.body-button-large .form-control-xxlg,
.body-button-large .btn.btn-xxlg {
    font-size: 18px;
    height: 57px;
    line-height: 55px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 0px 31px;
}

.body-button-large .btn i {
	margin-top: -1px;
	margin-right: 0.2em;
}

/* 로그인 그룹 (텍스트) */
.body-button-large .login-group-text a {
    font-size: 12px;
}
.body-button-large .menu-category-wrap .swiper-wrapper {
    height: 46px !important;
}
.body-button-large .menu-category-wrap .swiper-wrapper a span {
    padding: 0 14px;
    height: 37px;
    line-height: 36px;
    font-size: 16px;
    letter-spacing: -.25px;
}
.body-button-large .swiper-container-list-menu {
    margin: 0px 28px;
}
.body-button-large .circle-btn .swiper-button-prev,
.body-button-large .circle-btn .swiper-button-next {
    width: 37px !important;
    height: 37px !important;
    top: calc(50% + 4px) !important;
}
.body-button-large .circle-btn .arrow {
    font-size: 13px !important;
    line-height: 35px !important;
}

/*---------------------------------------*/

.body-button-xlarge .btn+.btn {
    margin-left: 10px;
}
.body-button-xlarge .button-vertical-group .btn+.btn {
    margin-left: 0px;
    margin-top: 10px;
}

.body-button-xlarge .form-control-xs,
.body-button-xlarge .btn.btn-xs {
    /*font-size: 14px;*/
    font-size: 15px;
    /*height: 35px;
    line-height: 33px;*/
    letter-spacing: 0px;
    font-weight: 400;
    padding: 5px 21px;
}
.body-button-xlarge .filter_wrap .filter_list a,
.body-button-xlarge .form-control-sm,
.body-button-xlarge .btn.btn-sm {
    /*font-size: 15px;*/
    font-size: 17px;
    /*height: 40px;
    line-height: 38px;*/
    letter-spacing: 0px;
    font-weight: 400;
    padding: 5px 23px;
}
.body-button-xlarge .form-control,
.body-button-xlarge .btn,
.body-button-xlarge .btn.btn-md {
    /*font-size: 16px;*/
    font-size: 18px;
    /*height: 45px;
    line-height: 43px;*/
    letter-spacing: 0px;
    font-weight: 400;
    padding: 6px 25px;
}
.body-button-xlarge .main-header-middle .menu-center-grow .main-search,
.body-button-xlarge .main-header-middle .menu-center-grow .main-search-btn,
.body-button-xlarge .tab_menu_wrap .tab_menu li,
.body-button-xlarge .page_sub_menu>li>a,
.body-button-xlarge .form-control-lg,
.body-button-xlarge .btn.btn-lg {
    /*font-size: 17px;*/
    font-size: 20px;
    /*height: 50px;
    line-height: 48px;*/
    letter-spacing: -.25px;
    font-weight: 400;
    /*padding: 0px 27px;*/
    padding: 6px 35px;
}
.body-button-xlarge .form-control-xlg,
.body-button-xlarge .btn.btn-xlg {
    /*font-size: 18px;*/
    font-size: 21px;
    /*height: 55px;
    line-height: 53px;*/
    letter-spacing: -.5px;
    font-weight: 400;
    /*padding: 0px 30px;*/
    padding: 6px 40px;
}
.body-button-xlarge .btn.submit-btn,
.body-button-xlarge .form-control-xxlg,
.body-button-xlarge .btn.btn-xxlg {
    /*font-size: 19px;*/
    font-size: 22px;
   /* height: 60px;
    line-height: 58px;*/
    letter-spacing: -.25px;
    font-weight: 500;
    /*padding: 0px 33px;*/
    padding: 6px 45px;
}

/*원형 아이콘*/

.body-button-xsmall .icon-xs img,
.body-button-xsmall .icon-xs svg {
    height: 23px;
    width: 23px;
}
.body-button-xsmall .icon-sm img,
.body-button-xsmall .icon-sm svg {
    height: 28px;
    width: 28px;
}
.body-button-xsmall .icon-md img,
.body-button-xsmall .icon-md svg {
    height: 33px;
    width: 33px;
}
.body-button-xsmall .icon-lg img,
.body-button-xsmall .icon-lg svg {
    width: 38px;
}
.body-button-xsmall .icon-xlg img,
.body-button-xsmall .icon-xlg svg {
    height: 43px;
    width: 43px;
}
.body-button-xsmall .icon-xxlg img,
.body-button-xsmall .icon-xxlg svg {
    height: 48px;
    width: 48px;
}

.body-button-small .icon-xs img,
.body-button-small .icon-xs svg {
    height: 26px;
    width: 26px;
}
.body-button-small .icon-sm img,
.body-button-small .icon-sm svg {
    height: 31px;
    width: 31px;
}
.body-button-small .icon-md img,
.body-button-small .icon-md svg {
    height: 36px;
    width: 36px;
}
.body-button-small .icon-lg img,
.body-button-small .icon-lg svg {
    height: 41px;
    width: 41px;
}
.body-button-small .icon-xlg img,
.body-button-small .icon-xlg svg {
    height: 46px;
    width: 46px;
}
.body-button-small .icon-xxlg img,
.body-button-small .icon-xxlg svg {
    height: 51px;
    width: 51px;
}

.body-button-medium .icon-xs img,
.body-button-medium .icon-xs svg {
    height: 29px;
    width: 29px;
}
.body-button-medium .icon-sm img,
.body-button-medium .icon-sm svg {
    height: 34px;
    width: 34px;
}
.body-button-medium .icon-md img,
.body-button-medium .icon-md svg {
    height: 39px;
    width: 39px;
}
.body-button-medium .icon-lg img,
.body-button-medium .icon-lg svg {
    height: 44px;
    width: 44px;
}
.body-button-medium .icon-xlg img,
.body-button-medium .icon-xlg svg {
    height: 49px;
    width: 49px;
}
.body-button-medium .icon-xxlg img,
.body-button-medium .icon-xxlg svg {
    height: 54px;
    width: 54px;
}

.body-button-large .icon-xs img,
.body-button-large .icon-xs svg {
    height: 32px;
    width: 32px;
}
.body-button-large .icon-sm img,
.body-button-large .icon-sm svg {
    height: 37px;
    width: 37px;
}
.body-button-large .icon-md img,
.body-button-large .icon-md svg {
    height: 42px;
    width: 42px;
}
.body-button-large .icon-lg img,
.body-button-large .icon-lg svg {
    height: 47px;
    width: 47px;
}
.body-button-large .icon-xlg img,
.body-button-large .icon-xlg svg {
    height: 52px;
    width: 52px;
}
.body-button-large .icon-xxlg img,
.body-button-large .icon-xxlg svg {
    height: 57px;
    width: 57px;
}

.body-button-xlarge .icon-xs img,
.body-button-xlarge .icon-xs svg {
    height: 35px;
    width: 35px;
}
.body-button-xlarge .icon-sm img,
.body-button-xlarge .icon-sm svg {
    height: 40px;
    width: 40px;
}
.body-button-xlarge .icon-md img,
.body-button-xlarge .icon-md svg {
    height: 45px;
    width: 45px;
}
.body-button-xlarge .icon-lg img,
.body-button-xlarge .icon-lg svg {
    height: 50px;
    width: 50px;
}
.body-button-xlarge .icon-xlg img,
.body-button-xlarge .icon-xlg svg {
    height: 55px;
    width: 55px;
}
.body-button-xlarge .icon-xxlg img,
.body-button-xlarge .icon-xxlg svg {
    height: 60px;
    width: 60px;
}

/* 와이드 버튼 */

.body-button-xsmall .btn.btn-width-xs {
    min-width: 86px;
}
.body-button-xsmall .btn.btn-width-sm {
    min-width: 116px;
}
.body-button-xsmall .btn.btn-width-md {
    min-width: 146px;
}
.body-button-xsmall .btn.btn-width-lg {
    min-width: 176px;
}
.body-button-xsmall .btn.btn-width-xl {
    min-width: 206px;
}

.body-button-small .btn.btn-width-xs {
    min-width: 102px;
}
.body-button-small .btn.btn-width-sm {
    min-width: 132px;
}
.body-button-small .btn.btn-width-md {
    min-width: 162px;
}
.body-button-small .btn.btn-width-lg {
    min-width: 192px;
}
.body-button-small .btn.btn-width-xl {
    min-width: 222px;
}

.body-button-medium .btn.btn-width-xs {
    min-width: 118px;
}
.body-button-medium .btn.btn-width-sm {
    min-width: 148px;
}
.body-button-medium .btn.btn-width-md {
    min-width: 178px;
}
.body-button-medium .btn.btn-width-lg {
    min-width: 208px;
}
.body-button-medium .btn.btn-width-xl {
    min-width: 238px;
}

.body-button-large .btn.btn-width-xs {
    min-width: 134px;
}
.body-button-large .btn.btn-width-sm {
    min-width: 164px;
}
.body-button-large .btn.btn-width-md {
    min-width: 194px;
}
.body-button-large .btn.btn-width-lg {
    min-width: 224px;
}
.body-button-large .btn.btn-width-xl {
    min-width: 254px;
}

.body-button-xlarge .btn.btn-width-xs {
    /*min-width: 150px;*/
    min-width: 133px;
}
.body-button-xlarge .btn.btn-width-sm {
    /*min-width: 180px;*/
    min-width: 157px;
}
.body-button-xlarge .btn.btn-width-md {
    min-width: 210px;
}
.body-button-xlarge .btn.btn-width-lg {
    /*min-width: 240px;*/
    min-width: 235px;
}
.body-button-xlarge .btn.btn-width-xl {
    /*min-width: 270px;*/
    min-width: 275px;
}
.body-button-xlarge .btn.btn-width-xxl {
    min-width: 290px;
}

.body-button-xlarge .btn i {
	margin-top: -1px;
	margin-right: 0.2em;
}

/* 로그인 그룹 (텍스트) */
.body-button-xlarge .login-group-text a {
    font-size: 13px;
}
.body-button-xlarge .menu-category-wrap .swiper-wrapper {
    height: 50px !important;
}
.body-button-xlarge .menu-category-wrap .swiper-wrapper a {
    margin: 0 6px;
}
.body-button-xlarge .menu-category-wrap .swiper-wrapper a span {
    padding: 0 16px;
    height: 41px;
    line-height: 39px;
    font-size: 17px;
    letter-spacing: -.25px;
}
.body-button-xlarge .swiper-container-list-menu {
    margin: 0px 30px;
}
.body-button-xlarge .circle-btn .swiper-button-prev,
.body-button-xlarge .circle-btn .swiper-button-next {
    width: 41px !important;
    height: 41px !important;
    top: calc(50% + 1px) !important;
}
.body-button-xlarge .circle-btn .arrow {
    font-size: 14px !important;
    line-height: 40px !important;
}

/*---------------------------------------*/

.body-button-xlarge textarea.form-control {
    padding: 18px 21px 18px 21px !important;
    line-height: 24px;
}

/* 텍스트 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

/* 상대 폰트 크기 */
.body-text-size-xsmall .text-xsmall,
.body-text-size-xsmall .table>thead>tr>td,
.body-text-size-xsmall .table>thead>tr>th, {
    font-size: 11px;
}

.body-text-size-xsmall .table>thead>tr>th,
.body-text-size-xsmall .text-small {
   font-size: 12px;
}
.body-text-size-xsmall .text-medium,
.body-text-size-xsmall .page-container,
.body-text-size-xsmall .table>tbody>tr>td,
.body-text-size-xsmall .table>tbody>tr>th,
.body-text-size-xsmall .table>tfoot>tr>td,
.body-text-size-xsmall .table>tfoot>tr>th {
   font-size: 13px;
}
.body-text-size-xsmall .text-large {
   font-size: 14px;
}
.body-text-size-xsmall .text-xlarge {
   font-size: 15px;
}
/*----------------------------*/

.body-text-size-small .text-xsmall,
.body-text-size-small .table>thead>tr>td,
.body-text-size-small .table>thead>tr>th {
   font-size: 12px;
}
.body-text-size-small .table>thead>tr>th,
.body-text-size-small .text-small {
   font-size: 13px;
}
.body-text-size-small .text-medium,
.body-text-size-small .page-container,
.body-text-size-small .table>tbody>tr>td,
.body-text-size-small .table>tbody>tr>th,
.body-text-size-small .table>tfoot>tr>td,
.body-text-size-small .table>tfoot>tr>th {
   font-size: 14px;
}
.body-text-size-small .text-large {
   font-size: 15px;
}
.body-text-size-small .text-xlarge {
   font-size: 16px;
}

/*----------------------------*/

.body-text-size-medium .text-xsmall,
.body-text-size-medium .table>thead>tr>td,
.body-text-size-medium .table>thead>tr>th, {
   font-size: 13px;
}
.body-text-size-medium .table>thead>tr>th,
.body-text-size-medium .text-small {
   font-size: 14px;
}
.body-text-size-medium .text-medium,
.body-text-size-medium .page-container,
.body-text-size-medium .table>tbody>tr>td,
.body-text-size-medium .table>tbody>tr>th,
.body-text-size-medium .table>tfoot>tr>td,
.body-text-size-medium .table>tfoot>tr>th {
   font-size: 15px;
}
.body-text-size-medium .text-large {
   font-size: 16px;
}
.body-text-size-medium .text-xlarge {
   font-size: 17px;
}

/*----------------------------*/

.body-text-size-large .text-xsmall,
.body-text-size-large .table>thead>tr>td,
.body-text-size-large .table>thead>tr>th {
   font-size: 14px;
}
.body-text-size-large .table>thead>tr>th,
.body-text-size-large .text-small {
   font-size: 15px;
}
.body-text-size-large .text-medium,
.body-text-size-large .page-container,
.body-text-size-large .table>tbody>tr>td,
.body-text-size-large .table>tbody>tr>th,
.body-text-size-large .table>tfoot>tr>td,
.body-text-size-large .table>tfoot>tr>th {
   font-size: 16px;
}
.body-text-size-large .text-large {
   font-size: 17px;
}
.body-text-size-large .text-xlarge {
   font-size: 18px;
}

/*----------------------------*/

.body-text-size-xlarge .text-xsmall,
.body-text-size-xlarge .table>thead>tr>td,
.body-text-size-xlarge .table>thead>tr>th {
   font-size: 14px;
}
.body-text-size-xlarge .table>thead>tr>th,
.body-text-size-xlarge .text-small {
   font-size: 16px;
}
.body-text-size-xlarge .text-medium,
.body-text-size-xlarge .page-container,
.body-text-size-xlarge .table>tbody>tr>td,
.body-text-size-xlarge .table>tbody>tr>th,
.body-text-size-xlarge .table>tfoot>tr>td,
.body-text-size-xlarge .table>tfoot>tr>th {
   font-size: 17px;
}
.body-text-size-xlarge .text-large {
   font-size: 18px;
}
.body-text-size-xlarge .text-xlarge {
   font-size: 19px;
}

/*----------------------------*/

/* 타이틀 영역 */

.body-text-size-xsmall .page-title h1 {
    font-size: 35px;
    letter-spacing: -1px;
}
.body-text-size-xsmall .section-title h1 {
    font-size: 30px;
	letter-spacing: -0.6px;
}
.body-text-size-xsmall .area-title h2 {
    font-size: 20px;
}

.body-text-size-small .page-title h1 {
    font-size: 36px;
    letter-spacing: -1.5px;
}
.body-text-size-small .section-title h1 {
    font-size: 31px;
	letter-spacing: -0.8px;
}
.body-text-size-small .area-title h2 {
    font-size: 21px;
}

.body-text-size-medium .page-title h1 {
    font-size: 37px;
    letter-spacing: -0.75px;
}
.body-text-size-medium .section-title h1 {
    font-size: 32px;
	letter-spacing: -1px;
}
.body-text-size-medium .area-title h2 {
    font-size: 22px;
}

.body-text-size-large .page-title h1 {
    font-size: 38px;
    letter-spacing: -2.5px;
}
.body-text-size-large .section-title h1 {
    font-size: 33px;
	letter-spacing: -1.3px;
}
.body-text-size-large .area-title h2 {
    font-size: 23px;
    margin: 0 auto;
}

.body-text-size-xlarge .page-title h1 {
    /*font-size: 39px;*/
    font-size: 36px;
    letter-spacing: -1px;
}
.body-text-size-xlarge .section-title h1 {
    font-size: 25px;
    font-weight: 600;
}
.body-text-size-xlarge .area-title h2 {
    font-size: 24px;
}

/* 가장자리 둥글리기 border radius ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

/* 가장자리 둥글리기 5단계 + 사각형 radius-0 */

.body-radius-none .radius-xsmall {
    border-radius: 0px;
}
/*.body-radius-none .page_sub_menu>li>a,
.body-radius-none .main-search,
.body-radius-none .page-list__info,*/
.body-radius-none .radius-small {
    border-radius: 0px;
}
.body-radius-none .radius-medium {
    border-radius: 0px;
}
/*.body-radius-none .thumb-rounded.small-rounded .prod_thumb_link,*/
.body-radius-none .radius-large {
    border-radius: 0px;
}
.body-radius-none .radius-xlarge {
    border-radius: 0px;
}
/*.body-radius-none .tab_menu_wrap .tab_menu li.active a {
    border-radius: 0;
}
.body-radius-none .order_bill_box {
    border-radius: 0px;
}
.body-radius-none .order_bill_box .order-package.first {
	border-radius: 0;
}
.body-radius-none .order_bill_box .order-package.last {
	border-radius: 0;
}*/

/*------------------------------*/

.body-radius-small .radius-xsmall {
    border-radius: 2px;
}
.body-radius-small .radius-small {
    border-radius: 4px;
}
/*.body-radius-small .page_sub_menu>li>a,
.body-radius-small .main-search,
.body-radius-small .page-list__info,*/
.body-radius-small .radius-medium {
    border-radius: 7px;
}
/*.body-radius-small .thumb-rounded.small-rounded .prod_thumb_link,*/
.body-radius-small .radius-large {
    border-radius: 11px;
}
.body-radius-small .radius-xlarge {
   border-radius: 16px;
}
/*.body-radius-small .menu-category-wrap .swiper-wrapper a span {
    border-radius: 4px;
}
.body-radius-small .tab_menu_wrap .tab_menu li.active a {
    border-radius: 5px 5px 0 0;
}
.body-radius-small .order_bill_box {
    border-radius: 30px;
}
.body-radius-small .order_bill_box .order-package.first {
	border-radius: 30px 0 0 30px;
}
.body-radius-small .order_bill_box .order-package.last {
	border-radius: 0 30px 30px 0;
}*/

/*------------------------------*/

.body-radius-medium .radius-xsmall {
    border-radius: 3px;
}
.body-radius-medium .radius-small {
    border-radius: 6px;
}
/*.body-radius-medium .page-list__info,*/
.body-radius-medium .radius-medium {
    border-radius: 9px;
}
/*.body-radius-medium .thumb-rounded.small-rounded .prod_thumb_link,*/
.body-radius-medium .radius-large {
    border-radius: 13px;
}
/*.body-radius-medium .page_sub_menu>li>a,
.body-radius-medium .main-search,*/
.body-radius-medium .radius-xlarge {
    border-radius: 16px;
}
/*.body-radius-medium .menu-category-wrap .swiper-wrapper a span {
    border-radius: 9px;
}
.body-radius-medium .tab_menu_wrap .tab_menu li.active a {
    border-radius: 10px 10px 0 0;
}
.body-radius-medium .order_bill_box {
    border-radius: 60px;
}
.body-radius-medium .order_bill_box .order-package.first {
	border-radius: 60px 0 0 60px;
}
.body-radius-medium .order_bill_box .order-package.last {
	border-radius: 0 60px 60px 0;
}*/

/*------------------------------*/

.body-radius-large .radius-xsmall {
    border-radius: 4px;
}
.body-radius-large .radius-small {
    border-radius: 8px;
}
.body-radius-large .page-list__info,
.body-radius-large .radius-medium {
    border-radius: 12px;
}
.body-radius-large .thumb-rounded.small-rounded .prod_thumb_link,
.body-radius-large .radius-large {
    border-radius: 16px;
}
.body-radius-large .radius-xlarge {
    border-radius: 20px;
}
/*.body-radius-large .menu-category-wrap .swiper-wrapper a span {
    border-radius: 14px;
}
.body-radius-large .tab_menu_wrap .tab_menu li.active a {
    border-radius: 15px 15px 0 0;
}
.body-radius-large .page_sub_menu>li>a,
.body-radius-large .main-search {
    border-radius: 30px;
}
.body-radius-large .order_bill_box {
    border-radius: 90px;
}
.body-radius-large .order_bill_box .order-package.first {
	border-radius: 90px 0 0 90px;
}
.body-radius-large .order_bill_box .order-package.last {
	border-radius: 0 90px 90px 0;
}*/

/*-------------- 가장 큰 버튼 높이의 절반 값 적용 ----------------*/

.body-radius-circle .radius-xsmall {
    border-radius: 5px;
}
.body-radius-circle .radius-small {
    border-radius: 10px;
}
/*.body-radius-circle .page-list__info,*/
.body-radius-circle .radius-medium {
    border-radius: 15px;
}
/*.body-radius-circle .thumb-rounded.small-rounded .prod_thumb_link,*/
.body-radius-circle .radius-large {
    border-radius: 20px;
}
.body-radius-circle .radius-xlarge {
    border-radius: 70px;
}
/*.body-radius-circle .menu-category-wrap .swiper-wrapper a span {
    border-radius: 14px;
}
.body-radius-circle .tab_menu_wrap .tab_menu li.active a {
    border-radius: 15px 15px 0 0;
}
.body-radius-circle .page_sub_menu>li>a,
.body-radius-circle .main-search {
    border-radius: 30px;
}
.body-radius-circle .order_bill_box {
    border-radius: 90px;
}
.body-radius-circle .order_bill_box .order-package.first {
	border-radius: 90px 0 0 90px;
}
.body-radius-circle .order_bill_box .order-package.last {
	border-radius: 0 90px 90px 0;
}*/

@media (max-width: 991px) {
    /* 텍스트 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

    /* 상대 폰트 크기 */
    .body-text-size-xsmall .text-xsmall {
       font-size: 11px;
    }
    .body-text-size-xsmall .text-small {
       font-size: 12px;
    }
    .body-text-size-xsmall .text-medium,
    .body-text-size-xsmall .page-container,
    .body-text-size-xsmall .table>thead>tr>td,
    .body-text-size-xsmall .table>thead>tr>th,
    .body-text-size-xsmall .table>tbody>tr>td,
    .body-text-size-xsmall .table>tbody>tr>th,
    .body-text-size-xsmall .table>tfoot>tr>td,
    .body-text-size-xsmall .table>tfoot>tr>th {
       font-size: 13px;
    }
    .body-text-size-xsmall .text-large {
       font-size: 14px;
    }
    .body-text-size-xsmall .text-xlarge {
       font-size: 15px;
    }

    /*----------------------------*/

    .body-text-size-small .text-xsmall {
       font-size: 12px;
    }
    .body-text-size-small .text-small {
       font-size: 13px;
    }
    .body-text-size-small .text-medium,
    .body-text-size-small .page-container,
    .body-text-size-small .table>thead>tr>td,
    .body-text-size-small .table>thead>tr>th,
    .body-text-size-small .table>tbody>tr>td,
    .body-text-size-small .table>tbody>tr>th,
    .body-text-size-small .table>tfoot>tr>td,
    .body-text-size-small .table>tfoot>tr>th {
       font-size: 14px;
    }
    .body-text-size-small .text-large {
       font-size: 15px;
    }
    .body-text-size-small .text-xlarge {
       font-size: 16px;
    }

    /*----------------------------*/

    .body-text-size-medium .text-xsmall {
       font-size: 13px;
    }
    .body-text-size-medium .text-small {
       font-size: 14px;
    }
    .body-text-size-medium .text-medium,
    .body-text-size-medium .page-container,
    .body-text-size-medium .table>thead>tr>td,
    .body-text-size-medium .table>thead>tr>th,
    .body-text-size-medium .table>tbody>tr>td,
    .body-text-size-medium .table>tbody>tr>th,
    .body-text-size-medium .table>tfoot>tr>td,
    .body-text-size-medium .table>tfoot>tr>th {
       font-size: 15px;
    }
    .body-text-size-medium .text-large {
       font-size: 16px;
    }
    .body-text-size-medium .text-xlarge {
       font-size: 17px;
    }

    /*----------------------------*/

    .body-text-size-large .text-xsmall {
       font-size: 14px;
    }
    .body-text-size-large .text-small {
       font-size: 15px;
    }
    .body-text-size-large .text-medium,
    .body-text-size-large .page-container,
    .body-text-size-large .table>thead>tr>td,
    .body-text-size-large .table>thead>tr>th,
    .body-text-size-large .table>tbody>tr>td,
    .body-text-size-large .table>tbody>tr>th,
    .body-text-size-large .table>tfoot>tr>td,
    .body-text-size-large .table>tfoot>tr>th {
       font-size: 16px;
    }
    .body-text-size-large .text-large {
       font-size: 17px;
    }
    .body-text-size-large .text-xlarge {
       font-size: 18px;
    }

    /*----------------------------*/

    .body-text-size-xlarge .text-xsmall {
       font-size: 15px;
    }
    .body-text-size-xlarge .text-small {
       font-size: 16px;
    }
    .body-text-size-xlarge .text-medium,
    .body-text-size-xlarge .page-container,
    .body-text-size-xlarge .table>thead>tr>td,
    .body-text-size-xlarge .table>thead>tr>th,
    .body-text-size-xlarge .table>tbody>tr>td,
    .body-text-size-xlarge .table>tbody>tr>th,
    .body-text-size-xlarge .table>tfoot>tr>td,
    .body-text-size-xlarge .table>tfoot>tr>th {
       font-size: 17px;
    }
    .body-text-size-xlarge .text-large {
       font-size: 18px;
    }
    .body-text-size-xlarge .text-xlarge {
       font-size: 19px;
    }

    /* 타이틀 영역 */

    .body-text-size-xsmall .page-title h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
    .body-text-size-xsmall .section-title h1 {
        font-size: 24px;
        letter-spacing: -0.6px;
    }
    .body-text-size-xsmall .area-title h2 {
        font-size: 18px;
    }

    .body-text-size-small .page-title h1 {
        font-size: 32px;
        letter-spacing: -1.5px;
    }
    .body-text-size-small .section-title h1 {
        font-size: 26px;
        letter-spacing: -0.8px;
    }
    .body-text-size-small .area-title h2 {
        font-size: 19px;
    }

    .body-text-size-medium .page-title h1 {
        font-size: 34px;
        letter-spacing: -2px;
    }
    .body-text-size-medium .section-title h1 {
        font-size: 28px;
        letter-spacing: -1px;
    }
    .body-text-size-medium .area-title h2 {
        font-size: 20px;
    }

    .body-text-size-large .page-title h1 {
        font-size: 36px;
        letter-spacing: -2.5px;
    }
    .body-text-size-large .section-title h1 {
        font-size: 30px;
        letter-spacing: -1.3px;
    }
    .body-text-size-large .area-title h2 {
        font-size: 21px;
    }

    .body-text-size-xlarge .page-title h1 {
        /*font-size: 38px;*/
        font-size: 21px;
        /*letter-spacing: -3px;*/
        letter-spacing: .5px;
    }
    .body-text-size-xlarge .section-title h1 {
        font-size: 21px;
        letter-spacing: 0;
        font-weight: 600 !important;
    }
    .body-text-size-xlarge .area-title h2 {
        font-size: 22px;
    }


    .body-button-xlarge .btn.btn-width-xs {
        min-width: 98px;
    }
    .body-button-xlarge .btn.btn-width-sm {
        min-width: /*122px*/ 130px;
    }
    .body-button-xlarge .btn.btn-width-md {
        min-width: 145px;
    }
    .body-button-xlarge .btn.btn-width-lg {
        min-width: 165px;
    }
    .body-button-xlarge .btn.btn-width-xl {
        min-width: 170px;
    }









    /* button, label, input, select 여백 ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

    /* 메인메뉴 버튼 */
  /*  .body-button-xsmall .menu-category-wrap .swiper-wrapper a {
     padding: 0 8px;
     height: 25px;
     line-height: 23px;
     font-size: 13px;
    }
    .body-button-xsmall .circle-btn .swiper-button-prev,
    .body-button-xsmall .circle-btn .swiper-button-next {
     width: 25px !important;
     height: 25px !important;
     top: calc(50% + 9px) !important;
    }
    .body-button-xsmall .circle-btn .arrow {
     font-size: 10px !important;
     line-height: 25px !important;
    }
    .body-button-xsmall #header .swiper-container-list-menu {
     margin: 0px 10px !important;
    }

    .body-button-small .menu-category-wrap .swiper-wrapper a span {
     padding: 0 10px;
     height: 29px;
     line-height: 26px;
     font-size: 14px;
    }
    .body-button-small .circle-btn .swiper-button-prev,
    .body-button-small .circle-btn .swiper-button-next {
     width: 29px !important;
     height: 29px !important;
     top: calc(50% + 7px) !important;
    }
    .body-button-small .circle-btn .arrow {
     font-size: 11px !important;
     line-height: 28px !important;
    }
    .body-button-small #header .swiper-container-list-menu {
     margin: 0px 13px !important;
    }

    .body-button-medium .menu-category-wrap .swiper-wrapper a span {
     padding: 0 12px;
     height: 33px;
     line-height: 29px;
     font-size: 15px;
    }
    .body-button-medium .circle-btn .swiper-button-prev,
    .body-button-medium .circle-btn .swiper-button-next {
     width: 33px !important;
     height: 33px !important;
     top: calc(50% + 5px) !important;
    }
    .body-button-medium .circle-btn .arrow {
     font-size: 12px !important;
     line-height: 32px !important;
    }
    .body-button-medium #header .swiper-container-list-menu {
     margin: 0px 15px !important;
    }

    .body-button-large .menu-category-wrap .swiper-wrapper a span {
     padding: 0 14px;
     height: 37px;
     line-height: 33px;
     font-size: 16px;
    }
    .body-button-large .circle-btn .swiper-button-prev,
    .body-button-large .circle-btn .swiper-button-next {
     width: 37px !important;
     height: 37px !important;
     top: calc(50% + 3px) !important;
    }
    .body-button-large .circle-btn .arrow {
     font-size: 13px !important;
     line-height: 35px !important;
    }
    .body-button-large #header .swiper-container-list-menu {
     margin: 0px 18px !important;
    }

    *//*메뉴 & 버튼 크기 : 더 큰 크기*//*
    .body-button-xlarge .menu-category-wrap .swiper-wrapper a span {
     padding: 0 16px;
     height: 41px;
     line-height: 38px;
     font-size: 17px;
    }
    .body-button-xlarge .circle-btn .swiper-button-prev,
    .body-button-xlarge .circle-btn .swiper-button-next {
     width: 41px !important;
     height: 41px !important;
     top: calc(50% + 1px) !important;
    }
    .body-button-xlarge .circle-btn .arrow {
     font-size: 14px !important;
     line-height: 40px !important;
    }
    .body-button-xlarge #header .swiper-container-list-menu {
     margin: 0px 20px !important;
    }
}*/


/* 메인 배너 - 슬라우드 좌우 미리보기 */
.banner-prev-wrap {width:70%; margin:0 auto;}

/* 아이폰에서 아이콘 색상 보정 */
.ti-search, .ti-menu {color:#000;}

/* 모바일 btn pull 디자인 */
@media (max-width: 991px) {
    .sm-btn-full>* {
        flex: 1;
        margin: 0!important;
        border-radius: 0!important;
        min-width: auto!important;
        border-left: none!important;
        border-right: none!important;
    }
}
}