@charset "utf-8";
@font-face {
	font-family: "SeoulAlrim";
	font-style: normal;
	font-weight: normal;
	src: url('SeoulAlrimBold.eot');
	src: url('SeoulAlrimBold.eot?#iefix') format('embedded-opentype'),
		url('SeoulAlrimBold.woff2') format('woff2'),
		url('SeoulAlrimBold.woff') format('woff');
}
@font-face {
	font-family: "SeoulAlrim";
	font-style: normal;
	font-weight: 600;
	src: url('SeoulAlrimHeavy.eot');
	src: url('SeoulAlrimHeavy.eot?#iefix') format('embedded-opentype'),
		url('SeoulAlrimHeavy.woff2') format('woff2'),
		url('SeoulAlrimHeavy.woff') format('woff');
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local('MontserratRegular');
	src: url('MontserratRegular.eot');
	src: url('MontserratRegular.eot?#iefix') format('embedded-opentype'),
		url('MontserratRegular.woff2') format('woff2'),
		url('MontserratRegular.woff') format('woff');
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local('MontserratMedium');
	src: url('MontserratMedium.eot');
	src: url('MontserratMedium.eot?#iefix') format('embedded-opentype'),
		url('MontserratMedium.woff2') format('woff2'),
		url('MontserratMedium.woff') format('woff');
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: local('MontserratExtraBold');
	src: url('MontserratExtraBold.eot');
	src: url('MontserratExtraBold.eot?#iefix') format('embedded-opentype'),
		url('MontserratExtraBold.woff2') format('woff2'),
		url('MontserratExtraBold.woff') format('woff');
}