<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/default.html}">
<body>

<th:block layout:fragment="contents">

  <div id="bodyContent" class="cleaning-page">
    <div class="title-area flex-col">
      <h2 class="contents-title">LG 화학 대전 사옥 블라블라 건</h2>
      <div class="w-full flex-center-between">
        <p class="page-description">CT-2024-001</p>
        <p class="font-sm">서비스 만료일 <strong>2029.12.21</strong></p>
      </div>
    </div>
    <!-- // .title-area -->

    <div class="layout-with-panel">
      <div class="layout-content">

        <!-- 품목 정보 -->
        <div class="box-style bg-white">
          <h3 class="text-title">품목 정보</h3>
          <div class="layout-column gap-xs">
            <div class="box-style">
              <div class="header justify-between">
                <div class="text-title">
                  <i class="icon-location"></i>
                  <p class="ellipsis-line2">경기도 성남시 분당구 정자일로 95 (정자동)</p>
                </div>
                <p class="font-sm flex-none">총 수량: <strong>n개</strong></p>
              </div>
              <div class="cont pt-2xs">
                <ul class="list-inline type-box-list">
                  <li>CT-2024-001 300개</li>
                  <li>CT-2024-001 50개</li>
                  <li>CT-2024-001 50개</li>
                  <li>CT-2024-001 120개</li>
                  <li>CT-2024-001 300개</li>
                  <li>CT-2024-001 200개</li>
                  <li>CT-2024-001 2개</li>
                  <li>CT-2024-001 1개</li>
                  <li>CT-2024-001 300개</li>
                  <li>CT-2024-001 2개</li>
                  <li>CT-2024-001 1개</li>
                </ul>
              </div>
            </div>
            <div class="box-style">
              <div class="header justify-between">
                <div class="text-title">
                  <i class="icon-location"></i>
                  <p class="ellipsis-line2">주소 주소</p>
                </div>
                <p class="font-sm flex-none">총 수량: <strong>n개</strong></p>
              </div>
              <div class="cont pt-2xs">
                <ul class="list-inline type-box-list">
                  <li>CT-2024-001 300개</li>
                  <li>CT-2024-001 50개</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- // 품목 정보 -->

        <!-- 서비스 이력이 없을 경우 -->
        <div class="box-style bg-white gap-0 mt-sm hidden">
          <div class="title-area mb-2xl">
            <h3 class="text-title leading-none">클리닝 서비스 이력</h3>
            <span class="badge bg-blue">잔여 2/5회</span>
          </div>
          <div class="text-nodata text-gray pt-2xl">클리닝 서비스 이력이 없습니다.</div>
        </div>
        <!-- // 서비스 이력이 없을 경우 -->

        <!-- 서비스 이력이 있을 경우 -->
        <div class="box-style bg-white gap-0 mt-sm">
          <div class="title-area mb-2xl">
            <h3 class="text-title leading-none">클리닝 서비스 이력</h3>
            <span class="badge bg-blue">잔여 2/5회</span>
          </div>

          <div class="cleaning-history">
            <div class="title-area gap-2xs mb-0">
              <i class="icon-chair"></i>
              <h4 class="group-title">3회차</h4>
              <span class="ml-2xs mt-3xs">yyyy.mm.dd 신청</span>
            </div>

            <!-- 페이지 진입시, 최신 회차의 첫번째 항목 선택된 상태 -->
            <button type="button" class="history-item selected">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge bg-light-gray w-fix">미발행</span>
            </button>

            <button type="button" class="history-item">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge bg-light-gray w-fix">미발행</span>
            </button>
          </div>

          <div class="divider-dash only-line">
            <hr class="dash-line">
          </div>

          <div class="cleaning-history">
            <div class="title-area gap-2xs mb-0">
              <i class="icon-chair"></i>
              <h4 class="group-title">2회차</h4>
              <span class="ml-2xs mt-3xs">yyyy.mm.dd 신청</span>
            </div>

            <button type="button" class="history-item">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge bg-light-gray w-fix">미발행</span>
            </button>

            <button type="button" class="history-item">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge-line-blue w-fix">발행</span>
            </button>
          </div>

          <div class="divider-dash only-line">
            <hr class="dash-line">
          </div>

          <div class="cleaning-history">
            <div class="title-area gap-2xs mb-0">
              <i class="icon-chair"></i>
              <h4 class="group-title">1회차</h4>
              <span class="ml-2xs mt-3xs">yyyy.mm.dd 신청</span>
            </div>

            <button type="button" class="history-item">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge-line-blue w-fix">발행</span>
            </button>

            <button type="button" class="history-item">
              <span class="item-num">020201215156</span>
              <p class="flex-1 ellipsis">경기 성남시 분당구 판교역로 166 판교 지점 경기 성남시 분당구 판교역로 166 판교 지점 경기 성남시 분당구 판교역로 166 판교 지점</p>
              <span class="badge-line-blue w-fix">발행</span>
            </button>
          </div>
        </div>
        <!-- // 서비스 이력이 있을 경우 -->
      </div>
      <!-- // 왼쪽 영역(.layout-content) -->

      <!-- 오른쪽 영역: 서비스 이력이 없을 경우 -->
      <div class="layout-panel type-nodata hidden">
        <div class="header gap-2xs">
          <h3 class="text-title text-white">클리닝 신청 내역</h3>
        </div>
        <div class="panel-cont flex-all-center text-center">
          <div class="title-sm mb-sm">아직 신청한 클리닉이 없어요.</div>
          <p class="mb-md">의자 클리닝 페이지에서<br>클리닝 서비스를 신청하실 수 있습니다.</p>
          <button type="button" class="btn dark px-2xl">의자 클리닝 페이지로 이동</button>
        </div>
      </div>
      <!-- // 오른쪽 영역: 서비스 이력이 없을 경우 -->

      <!-- 오른쪽 영역: 서비스 이력이 있을 경우 -->
      <div class="layout-panel">
        <div class="header gap-2xs">
          <h3 class="text-title text-white gap-3xs">
            <span class="shrink-0">2회차</span><span>·</span>
            <p>경기 성남시 분당구 판교역로 166 판교 지점</p>
          </h3>
          <p class="font-sm text-light">신청 번호 : 012121215156</p>
        </div>
        <div class="panel-cont">
          <div class="group">
            <h4 class="text-title">신청 정보</h4>
            <ul class="info-list col-2">
              <li>
                <div class="title">현장 담당자</div>
                <div class="value">박현장</div>
              </li>
              <li>
                <div class="title">신청자</div>
                <div class="value">홍길동</div>
              </li>
              <li>
                <div class="title">연락처</div>
                <div class="value">010-1234-4679</div>
              </li>
              <li>
                <div class="title">이메일</div>
                <div class="value">park@company.com</div>
              </li>
              <li class="span-2">
                <div class="box-style p-sm gap-0">
                  <div class="title">상세 요청 사항</div>
                  <div class="value">-</div>
                </div>
              </li>
            </ul>
          </div>
          <hr class="dash-line">
          <div class="group">
            <h4 class="text-title">서비스 담당 (실행팀)</h4>
            <ul class="info-list col-2">
              <li class="span-2">
                <div class="text-gray text-center pt-xs pb-lg">담당자 배정 중입니다.</div>
              </li>
              <li>
                <div class="title">담당자</div>
                <div class="value">김나라</div>
              </li>
              <li>
                <div class="title">연락처</div>
                <div class="value">010-1234-4679</div>
              </li>
              <li class="span-2">
                <div class="title text-black"><strong>클리닝 결과 리포트</strong></div>

                <div class="value box-style py-lg">
                  <p class="text-gray text-center">리포트 발행 준비 중입니다.</p>
                </div>

                <a href="#" download class="value btn attach-file">
                  <i class="icon-document"></i>
                  <div class="flex-1 min-w-0">
                    <div class="font-md list-inline mt-3xs">
                      <strong class="ellipsis">000 클리닝 결과 리포트</strong>
                    </div>
                    <p class="font-sm spacing-lg mt-2xs">발행일: 2026.01.01</p>
                  </div>
                  <div class="icon-area">
                    <i class="icon-download"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // 오른쪽 영역: 서비스 이력이 있을 경우 -->
    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
<script>
document.querySelectorAll('.history-item').forEach(item => {
  item.addEventListener('click', () => {
    document.querySelector('.history-item.selected')?.classList.remove('selected');
    item.classList.add('selected');
  });
});
</script>
</th:block>
</body>
</html>