<div class="modal" id="editSpaceNameModalPub">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">등록 정보 수정</h5>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group w-full">
          <label>
            <span class="label required">도면 공간(층수)</span>
            <input type="text" name="" id="" class="input" placeholder="도면 공간(층수) 입력" value="2F 회의실">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">취소</button>
        <button type="button" class="btn btn-primary">저장</button>
      </div>
    </div>
  </div>
</div>

<script>
</script>
