<div class="modal" id="itemMappingInfoModalPub">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="area-name font-semibold text-base"><span class="flag">A</span>업무존</h5>
          <p class="modal-description mt-2">매핑된 계약 및 품목 정보입니다.</p>
        </div>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-content">
            <div class="grid grid-cols-4 gap-2">
              <div>
                <p class="label">고객사</p>
                <p class="label-data-text">한빛소프트</p>
              </div>
              <div>
                <p class="label">계약번호</p>
                <p class="label-data-text">CNT-2024-112</p>
              </div>
              <div class="col-span-2">
                <p class="label">계약명</p>
                <p class="label-data-text">한빛소프트 본사</p>
              </div>
            </div>
          </div>
        </div>

        <table class="table break-word table-fixed mt-5 border">
          <colgroup>
            <col style="width: 25%;">
            <col>
            <col style="width: 18%">
            <col style="width: 13%">
            <col style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th>시리즈명</th>
              <th>품목명</th>
              <th>품목코드</th>
              <th>색상</th>
              <th class="px-0">수량</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-3">T03FBO</td>
              <td class="px-3">CH4100AH</td>
              <td class="px-3">FDD-200</td>
              <td class="px-3">FKI</td>
              <td class="text-center px-0">24</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">닫기</button>
      </div>
    </div>
  </div>
</div>
