<div class="modal" id="mappingSerialNumberModalPub">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">시리얼 번호 선택</h5>
        <button type="button" class="icon-close modal-close"></button>
      </div>
      <div class="modal-body flex flex-col gap-4">

        <div class="card">
          <div class="card-header py-3 pr-[50px]">
            <div class="flex items-center gap-3 flex-wrap">
              <span class="badge badge-blue">0/10</span>
              <h3 class="card-title">사이드 테이블1</h3>
            </div>
            <div class="flex items-center gap-1 flex-wrap card-description">
              <span>화이트</span>
              <span>/</span>
              <span>FDD-200</span>
            </div>
            <i class="icon-chevron right-[15px] is-rotated" data-action="collapse"></i>
          </div>

          <div class="card-content border-t p-0 collapse-content">
            <div class="p-2 border-b">
              <div class="input">
                <input type="text" class="w-full" placeholder="시리얼 검색">
                <button type="button"><i class="icon-search"></i></button>
              </div>
            </div>

            <div class="pl-4 pr-2 py-1 border-b bg-muted">
              <div class="flex items-center justify-between">
                <label class="flex items-center gap-3 cursor-pointer">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title">전체 선택</span>
                </label>

                <div class="flex items-center gap-3">
                  <p class="label text-primary">총 24개</p>
                  <button type="button" class="btn btn-icon btn-outline"><i class="icon-switch rotate-90"></i></button>
                </div>
              </div>
            </div>

            <ul class="flex flex-col py-2 bg-muted max-h-[175px] overflow-y-auto custom-scrollbar">
              <li>
                <label class="flex items-center gap-3 cursor-pointer px-4 py-2 hover:bg-gray-100">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title break-all">v26050101</span>
                </label>
              </li>
              <li>
                <label class="flex items-center gap-3 cursor-pointer px-4 py-2 hover:bg-gray-100">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title break-all">v26050102</span>
                </label>
              </li>
            </ul>

          </div>
        </div>

        <div class="card">
          <div class="card-header py-3 pr-[50px]">
            <div class="flex items-center gap-3 flex-wrap">
              <span class="badge badge-blue">0/10</span>
              <h3 class="card-title">사이드 테이블1</h3>
            </div>
            <div class="flex items-center gap-1 flex-wrap card-description">
              <span>화이트</span>
              <span>/</span>
              <span>FDD-200</span>
            </div>
            <i class="icon-chevron right-[15px] is-rotated" data-action="collapse"></i>
          </div>

          <div class="card-content border-t p-0 collapse-content">
            <div class="p-2 border-b">
              <div class="input">
                <input type="text" class="w-full" placeholder="시리얼 검색">
                <button type="button"><i class="icon-search"></i></button>
              </div>
            </div>

            <div class="pl-4 pr-2 py-1 border-b bg-muted">
              <div class="flex items-center justify-between">
                <label class="flex items-center gap-3 cursor-pointer">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title">전체 선택</span>
                </label>

                <div class="flex items-center gap-3">
                  <p class="label text-primary">총 24개</p>
                  <button type="button" class="btn btn-icon btn-outline"><i class="icon-switch rotate-90"></i></button>
                </div>
              </div>
            </div>

            <ul class="flex flex-col py-2 bg-muted max-h-[175px] overflow-y-auto custom-scrollbar">
              <li>
                <label class="flex items-center gap-3 cursor-pointer px-4 py-2 hover:bg-gray-100">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title break-all">v26050101</span>
                </label>
              </li>
              <li>
                <label class="flex items-center gap-3 cursor-pointer px-4 py-2 hover:bg-gray-100">
                  <input type="checkbox" class="checkbox" />
                  <span class="card-title break-all">v26050102</span>
                </label>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline modal-close">취소</button>
        <button type="button" class="btn btn-primary">저장</button>
      </div>
    </div>
  </div>
</div>
