<div role="dialog" class="popup-wrap" id="viewerInfoModal">
  <div class="popup-dim"></div>
  <div class="popup-cont">
    <div class="popup-header">열람자 정보</div>
    <div class="popup-body">

      <!-- 열람자 정보가 없을 경우 -->
      <div class="text-nodata">열람자 정보가 존재하지 않습니다.</div>

      <!-- 열람자 정보가 있을 경우 -->
      <!-- <table class="table-simple">
        <colgroup>
          <col style="width: 70px">
          <col style="width: 90px">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col">이름</th>
            <th scope="col">아이디</th>
            <th scope="col">이메일</th>
          </tr>
        </thead>
        <tbody id="viewerInfoBody">
        </tbody>
      </table> -->
      <!-- // 열람자 정보가 있을 경우 -->
    </div>
    <div class="popup-footer">
      <button type="button" class="btn dark close-btn">닫기</button>
    </div>
  </div>
</div>