@charset "UTF-8";
/* Noto Sans KR Light */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 300;
	src: url("../webfont/NotoSansKR-Light.otf") format('opentype');
	src: url("../webfont/NotoSansKR-Light.eot"),
	url("../webfont/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), 
			url("../webfont/NotoSansKR-Light.woff") format("woff");
}
/* Noto Sans KR Regular */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 400;
	src: url("../webfont/NotoSansKR-Regular.otf") format('opentype');
	src: url("../webfont/NotoSansKR-Regular.eot"),
	url("../webfont/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), 
			url("../webfont/NotoSansKR-Regular.woff") format("woff");
}
/* Noto Sans KR Medium */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 500;
	src: url("../webfont/NotoSansKR-Medium.otf") format('opentype');	
	src: url("../webfont/NotoSansKR-Medium.eot"),
	url("../webfont/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), 
		url("../webfont/NotoSansKR-Medium.woff") format("woff");
}
/* Noto Sans KR Bold */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 700;
	src: url("../webfont/NotoSansKR-Bold.otf") format('opentype');
	src: url("../webfont/NotoSansKR-Bold.eot"),
	     url("../webfont/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../webfont/NotoSansKR-Bold.woff") format("woff");
}
/* Noto Sans KR Black */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 900;
	src: url("../webfont/NotoSansKR-Black.otf") format('opentype');
	src: url("../webfont/NotoSansKR-Black.eot"),
	url("../webfont/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), 
	url("../webfont/NotoSansKR-Black.woff") format("woff");
}

/* Roboto Light */
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../webfont/Roboto-Light.ttf") format("truetype");
}
/* Roboto Regular */
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../webfont/Roboto-Regular.ttf") format("truetype");
}

/* Roboto Medium */
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../webfont/Roboto-Medium.ttf") format("truetype");
}

/* Roboto Bold */
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 600;
	src: url("../webfont/Roboto-Bold.ttf") format("truetype");
}

* {margin:0;padding:0;border:0;outline:0;-webkit-text-size-adjust:none;word-break:break-all;letter-spacing:-0.02em;line-height:1.5;color:#333; font-family:"NotoSans", "roboto";}
*, *::before, *::after {-webkit-moz-box-sizing: border-box;  -ms-moz-box-sizing: border-box;  -o-moz-box-sizing: border-box;  box-sizing: border-box;}

html, body {font-family:"NotoSans", "roboto";font-size:10px; }
div, span, object, iframe, font, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	font-size:1.4rem;
	font-weight:inherit;
	font-style:normal;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav, ul, ol, dl {list-style:none;}
table {
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
	font-size:1.4rem;
}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after {content:'';content:none;}

q:before, q:after {content:'';content:none;}

a {font-size:1.4rem;word-break: break-all;
  /* margin: 0;  padding: 0;  font-size: 100%;  word-break: break-all;  vertical-align: baseline;  background: transparent; */
}

a:link {text-decoration:none;}
a:visited, a:hover, a:active {text-decoration:none;}
abbr[title], dfn[title] {text-decoration:none;border-bottom:medium none;cursor:default;}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
legend, caption {display:none;clear:both;}
button {vertical-align:middle;cursor:pointer;border:0 none;background-color:transparent;}
button::-moz-focus-inner {padding:0;border:0;} 
label {cursor:pointer;}
input {font-family:"NotoSans", "roboto";vertical-align:middle;}
input::-moz-focus-inner {padding:0;border:0;}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="date"],input[type="number"] {
	width: 100%;
	height:4.4rem;
	padding:0 1.2rem;
	font-size:1.4rem;
	background:#fff;  
	border: 1px solid #ccc;  
	border-radius:0.8rem;
	-webkit-appearance:none; 
	appearance:none;
}
input[type="button"],input[type="reset"],input[type="submit"] {
	font-size:1.4rem;
	vertical-align:middle;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-appearance:none; 
	appearance:none;
	cursor:pointer;
}
input[type="checkbox"] {
  width: 18px;  height: 18px;  padding: 0;
}
input[type="radio"] {
  width: 15px;  height: 15px;  padding: 0;
}

input::placeholder,
textarea::placeholder {color:var(--text-sub2);}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {color:var(--text-sub2);}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:var(--text-sub2);}

input:not([type=radio]):active, 
input:not([type=radio]):focus,
input:not([type=checkbox]):active, 
input:not([type=checkbox]):focus {border-color:#111;}
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="tel"]:read-only,
input[type="email"]:read-only,
input[type="date"]:read-only,
input[type="number"]:read-only {background-color:#f8f8f8;}
input:disabled {color:#a6a6a6;border-color:#e5e5e5;background-color:#fbfbfb;}

textarea {
	width: 100%;  
	margin:0;  
	height:21.2rem;
	overflow-y: auto;
	padding: 1.2rem;  
	font: inherit;  
	font-size:1.4rem;
	color: inherit;  
	border: 0.1rem solid #ccc;  
	-webkit-border-radius:0.6rem;  
	border-radius:0.6rem;
	-webkit-appearance: none; 
	appearance: none; 
	resize: none;  
}
textarea:active, textarea:focus {border-color:#111;}

select {
	margin: 0;  
	font: inherit;  
	font-size:1.4rem;
	color: inherit;  
	vertical-align: middle;  
	-webkit-border-radius:0.8rem;
	border-radius:0.8rem;
	border: 1px solid #ccc; 
	background: #fff;
	-webkit-appearance: none; 
	-moz-appearance:none; 
	appearance:none;
}
select::-ms-expand {display:none}

optgroup {
	font:inherit;color:inherit;margin:0;
}

img {
	max-width:100%;
	vertical-align: top;
	transform:translateZ(0); /*20230403 이미지 정상 랜더링 전용 css 추가*/
}

/*
ins {
  background-color: #ff9;  color: #000;  text-decoration: none;
}

mark {
  background-color: #ff9;  color: #000;  font-style: italic;  font-weight: bold;
}

del {
  text-decoration: line-through;
}
*/
/* 
address, em {font-style:normal;}

blind
.blind {
  overflow: hidden;  position: absolute;  top: 0;  left: 0;  width: 0;  height: 0;  font-size: 0;  line-height: 0;
} */

/* skipnavi 
#skipnavi {
  position: fixed;  left: 0;  top: 0;  width: 100%;  margin-left: 0;  z-index: 99999;
}
#skipnavi a {
  position: absolute;  left: -99999px;
}
#skipnavi a:focus, #skipnavi a:active {
  position: relative;  left: 0;  z-index: 9999;  width: 100%;  padding: 10px;  text-decoration: none;
}
*/

/* html 설정 *//* 
html {
  font-family: "NotoSans", "roboto" !important;  color: #333;
}
.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: 15px; color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;} */

